---
- name: Import optional extra_args file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "../extra_vars.yml"
        - "../extra_vars.yaml"
        - "../extra_vars.json"
      skip: true
  failed_when: false
  tags: vars

- name: Create a few directories which kdevops uses for sysbench if they do not exist
  tags: ["mkfs"]
  become: true
  become_flags: "su - -c"
  become_method: sudo
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ kdevops_data }}"
    - "{{ sysbench_mnt }}"

# Distro specific
- name: Install dependencies
  ansible.builtin.include_tasks: install-deps/main.yml
- ansible.builtin.include_role:
    name: create_data_partition
  tags: ["mkfs"]

# Start monitoring services before running tests
- ansible.builtin.import_tasks: ../../monitoring/tasks/monitor_run.yml
  when:
    - enable_monitoring|default(false)|bool
  tags: ["sysbench", "run_sysbench", "monitoring", "monitor_run"]

- name: MySQL Docker
  ansible.builtin.import_tasks: mysql-docker/main.yaml
  when: sysbench_type_mysql_docker | bool

- name: PostgreSQL Native
  ansible.builtin.import_tasks: postgresql-native/main.yaml
  when: sysbench_type_postgresql_native | bool

# Stop monitoring services and collect data after running tests
- ansible.builtin.import_tasks: ../../monitoring/tasks/monitor_collect.yml
  when:
    - enable_monitoring|default(false)|bool
  tags: ["sysbench", "results", "monitoring", "monitor_collect"]
