if TERRAFORM_OCI

menu "Resource location"
source "terraform/oci/kconfigs/Kconfig.location"
endmenu
menu "Compute"
source "terraform/oci/kconfigs/Kconfig.compute"
endmenu
menu "Storage"
source "terraform/oci/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/oci/kconfigs/Kconfig.identity"
endmenu

config TERRAFORM_OCI_ASSIGN_PUBLIC_IP
	bool "Assign public IP address to the cloud instance"
	default y
	help
          Select this field if public IP address has to be assigned to
          the cloud instance. Otherwise a public IP address is
          assigned.

config TERRAFORM_OCI_SUBNET_OCID
	string "OCI Subnet OCID"
	help
	  The OCI ID of the subnet.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm

endif # TERRAFORM_OCI
