---
# tasks to install update-grub
- name: Distro specific update of your GRUB boot file
  ansible.builtin.include_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'
- ansible.builtin.include_tasks: suse.yml
  when: ansible_facts['os_family']|lower == 'suse'
- ansible.builtin.include_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'
