---
- name: Import optional extra_args file
  ansible.builtin.include_vars: "{{ item }}"
  ignore_errors: true
  with_first_found:
    - files:
        - "../extra_vars.yml"
        - "../extra_vars.yaml"
        - "../extra_vars.json"
      skip: true
  tags: vars

- name: Install mmtests build dependencies (SUSE)
  become: true
  become_method: sudo
  community.general.zypper:
    name:
      - gcc
      - git
      - perl
      - perl-CPAN
      - perl-Math-Gradient
      - R-base
      - R-base-devel
      - libnuma-devel
    state: present
  tags: ["deps"]

- name: Install mmtests runtime dependencies (SUSE)
  become: true
  become_method: sudo
  community.general.zypper:
    name:
      - numactl
      - fio
      - sysstat
      - procps
      - util-linux
      - coreutils
      - time
      - bc
      - psmisc
      - perl-Math-Gradient
    state: present
  tags: ["deps"]

- name: Install mmtests monitoring dependencies (SUSE)
  become: true
  become_method: sudo
  community.general.zypper:
    name:
      - kernel-default-devel
      - trace-cmd
      - perf
    state: present
  tags: ["deps"]
  ignore_errors: true
