oci_region = "{{ terraform_oci_region }}"
oci_tenancy_ocid = "{{ terraform_oci_tenancy_ocid }}"
oci_config_file_profile = "{{ terraform_oci_config_file_profile }}"
oci_ad_number = {{ terraform_oci_ad_number }}
oci_compartment_name = "{{ terraform_oci_compartment_name }}"
oci_shape = "{{ terraform_oci_shape }}"
{% if terraform_oci_instance_flex_ocpus is defined %}
oci_instance_flex_ocpus = {{ terraform_oci_instance_flex_ocpus }}
{% endif %}
{% if terraform_oci_instance_flex_memory_in_gbs is defined %}
oci_instance_flex_memory_in_gbs = {{ terraform_oci_instance_flex_memory_in_gbs }}
{% endif %}
oci_os_image_ocid = "{{ terraform_oci_os_image_ocid }}"
oci_assign_public_ip = {{ terraform_oci_assign_public_ip | lower }}
oci_use_existing_vcn = {{ terraform_oci_use_existing_vcn | lower }}
{% if terraform_oci_use_existing_vcn %}
oci_subnet_ocid = "{{ terraform_oci_subnet_ocid }}"
{% endif %}
oci_volumes_per_instance = {{ terraform_oci_volumes_per_instance }}
oci_volumes_size = {{ terraform_oci_volumes_size }}
oci_vpus_per_gb = {{ terraform_oci_vpus_per_gb }}
oci_data_volume_device_file_name = "{{ terraform_oci_data_volume_device_file_name }}"
oci_sparse_volume_device_file_name = "{{ terraform_oci_sparse_volume_device_file_name }}"

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"

ssh_config_update = "{{ kdevops_terraform_ssh_config_update | lower }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict | lower }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup | lower }}"
