if KDEVOPS_WORKFLOW_ENABLE_SELFTESTS

config SELFTESTS_KMOD_TIMEOUT_SET_BY_CLI
	bool
	default $(shell, scripts/check-cli-set-var.sh KMOD_TIMEOUT)

menu "Configure what to test in selftests"

config SELFTESTS_BUILD_RADIX_TREE
	bool
	output yaml

config SELFTESTS_BUILD_SELFTESTS_DIR
	bool
	output yaml

config SELFTESTS_MANUAL_COVERAGE
	bool "Enable manual coverage selection"
	output yaml
	default y
	help
	  By default we aim to spawn enough hosts to cover testing the full
	  set of supported tests. If you are sure you don't need to test
	  certain things, enabling this option lets you disable them here.

	  We only enable selftests for a subsystem by default after vetting by
	  respective subsystem maintainers.

if SELFTESTS_MANUAL_COVERAGE

config SELFTESTS_TEST_BUNDLE_RADIX_TREE
	bool "Test all tests related to kernel the radix tree"
	output yaml
	select SELFTESTS_SECTION_MAPLE
	select SELFTESTS_SECTION_XARRAY
	help
	  This will ensure you test the radix tree in the kernel.

config SELFTESTS_SECTION_FIRMWARE
	bool "Firmware loader"
	output yaml
	select SELFTESTS_BUILD_SELFTESTS_DIR
	help
	  This will create a host to test the firmware loader.

config SELFTESTS_SECTION_KMOD
	bool "kmod - Kernel module loader usermode helper"
	output yaml
	select SELFTESTS_BUILD_SELFTESTS_DIR
	help
	  This will create a host to test the kmod selftest.

config SELFTESTS_SECTION_MODULE
	bool "module - run all module seleftses"
	output yaml
	select SELFTESTS_BUILD_SELFTESTS_DIR
	help
	  This test all module selftets.

config SELFTESTS_SECTION_MAPLE
	bool "Maple tree"
	output yaml
	select SELFTESTS_BUILD_RADIX_TREE
	help
	  This will create a host to test the maple tree.

config SELFTESTS_SECTION_SYSCTL
	bool "sysctls"
	output yaml
	select SELFTESTS_BUILD_SELFTESTS_DIR
	help
	  This will create a host to test proc sysctls.

config SELFTESTS_SECTION_XARRAY
	bool "Xarray"
	output yaml
	select SELFTESTS_BUILD_RADIX_TREE
	help
	  This will create a host to test the xarray.

endif # SELFTESTS_MANUAL_COVERAGE

if !SELFTESTS_MANUAL_COVERAGE

config SELFTESTS_SECTION_FIRMWARE
	bool
	output yaml
	default y

config SELFTESTS_SECTION_KMOD
	bool
	output yaml
	default y

config SELFTESTS_SECTION_MODULE
	bool
	output yaml
	default y

config SELFTESTS_SECTION_SYSCTL
	bool
	output yaml
	default y

config SELFTESTS_SECTION_XARRAY
	bool
	output yaml
	default y

endif # !SELFTESTS_MANUAL_COVERAGE

endmenu

config SELFTESTS_SECTION_KMOD_TIMEOUT
	int "kmod timeout"
	output yaml
	depends on SELFTESTS_SECTION_KMOD
	default 165 if !SELFTESTS_KMOD_TIMEOUT_SET_BY_CLI
	default $(shell, ./scripts/append-makefile-vars-int.sh $(KMOD_TIMEOUT)) if SELFTESTS_KMOD_TIMEOUT_SET_BY_CLI
	help
	  A default timeout of 45 seconds is used for runner, however each
	  runner system configuration may also vary. So a timeout is very
	  runner specific. Selftests are by design supposed to be relatively
	  fast. In order to support some tests which may be longer and which
	  can vary depending on the runner selftests support a custom timeout
	  per runner. This will be used only for the kmod test:

	  ./run_kselftest.sh --override-timeout <timeout>

	  https://www.kernel.org/doc/Documentation/dev-tools/kselftest.rst

endif # KDEVOPS_WORKFLOW_ENABLE_SELFTESTS
