[global]
name=Workload dependent steady state iops random pre-conditioning
threads=1
group_reporting=1
time_based
ioengine=io_uring
direct=1
buffered=0
norandommap
refill_buffers

# We actually compute this at run time and override it on the command line.
# We keep the value you had only if you set SSD_STEADY_STATE_PREFILL_BLOCKSIZE
# to something not empty, your value: {{ ssd_steady_state_prefill_blocksize }}
# bs={{ ssd_steady_state_prefill_blocksize }}

iodepth={{ ssd_steady_state_iodepth }}
numjobs={{ ssd_steady_state_numjobs }}
filename={{ ssd_steady_state_device }}

exitall_on_error
continue_on_error=none

rw=randwrite

runtime={{ ssd_steady_state_runtime }}
[steady-state-mean-iops]
ss=iops:{{ ssd_steady_state_iops_mean_limit }}
ss_dur={{ ssd_steady_state_iops_mean_dur }}

[steady-state-slope-iops]
new_group
group_reporting
ss=iops_slope:{{ ssd_steady_state_iops_slope }}
ss_dur={{ ssd_steady_state_iops_slope_dur }}
