if TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT

if TARGET_ARCH_X86_64

choice
	prompt "Red Hat Enterprise Linux release"
	default TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6
	help
	  This option specifies which of a publisher's offers to use
	  when creating kdevops compute instances.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	bool "RHEL 7.9 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 7 update 9.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	bool "RHEL 8.9 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 8 update 9.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	bool "RHEL 8.10 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 8 update 10.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	bool "RHEL 9.5 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 9 update 5.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6
	bool "RHEL 9.6 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 9 update 6.

endchoice

config TERRAFORM_AZURE_IMAGE_OFFER
	string
	output yaml
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6

config TERRAFORM_AZURE_IMAGE_SKU
	string
	output yaml
	default "7_9" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	default "8_9" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	default "8_10" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	default "9_5" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	default "9_6" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT
