---
- name: Install pynfs build dependencies
  become: true
  become_method: ansible.builtin.sudo
  ansible.builtin.apt:
    name:
      - gcc
      - git-core
      - make
      - libkrb5-dev
      - python3-dev
      - python3-setuptools
      - swig
      - python3-gssapi
      - python3-ply
    state: present
    update_cache: true
  tags: ["pynfs", "deps"]

# xdrlib was removed from Python 3.13; Debian packages it as python3-mda-xdrlib
- name: Install xdrlib from Debian package on Debian 13+
  become: true
  become_method: ansible.builtin.sudo
  ansible.builtin.apt:
    name:
      - python3-mda-xdrlib
    state: present
  tags: ["pynfs", "deps"]
  when:
    - ansible_distribution_major_version | int >= 13
