if TERRAFORM_OCI_REGION_PHX

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "us-phoenix-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_PHX_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_PHX_AD1
	bool "1"

config TERRAFORM_OCI_REGION_PHX_AD2
	bool "2"

config TERRAFORM_OCI_REGION_PHX_AD3
	bool "3"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_PHX_AD1
	default 2 if TERRAFORM_OCI_REGION_PHX_AD2
	default 3 if TERRAFORM_OCI_REGION_PHX_AD3

endif # TERRAFORM_OCI_REGION_PHX
