choice
	prompt "GCE Machine Family"
	default TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD
	help
	  Select the family of platforms to choose from below.

config TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD
	bool "N1 Standard family"
	depends on TARGET_ARCH_X86_64
	help
	  Balanced performance and cost-effectiveness. Intel
	  Haswell CPUs.

endchoice

source "terraform/gce/kconfigs/machines/Kconfig.n1-standard"

config TERRAFORM_GCE_IMAGE
	string "GCE image to use"
	default "debian-cloud/debian-10" if DISTRO_DEBIAN
	default "debian-cloud/debian-10" if !DISTRO_DEBIAN
	help
	  This option will set GCE image to debian-cloud/debian-10.

	  Documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#image
