config TERRAFORM_GCE_PROJECT_NAME
	string "GCE Project name"
	default "kdevops"
	help
	  This option will set the GCE project name. This name must match
	  the actual name of the project you have created using the
	  GCE interface.

config TERRAFORM_GCE_JSON_CREDENTIALS_PATH
	string "GCE json credential file path"
	default "account.json"
	help
	  Path to the GCE json credentials file. Refer to the following links
	  for documentation about this:

	    o https://www.terraform.io/docs/providers/google/getting_started.html
	    o https://www.terraform.io/docs/providers/google/index.html
	    o https://cloud.google.com/community/tutorials/getting-started-on-gcp-with-terraform
	    o https://cloud.google.com/iam/docs/creating-managing-service-account-keys
	    o https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource
