config TERRAFORM_GCE_PROJECT
	string "Project name"
	output yaml
	help
	  A project is made up of the settings, permissions, quotas,
	  and other metadata that describe your cloud resources.
	  Resources that are provisioned within a single project can
	  work together easily, for example by communicating through
	  an internal private network.

	  When creating a Google Cloud project, the administrator
	  chooses a human-readable name for it. Specify that name
	  here.

	  Note: kdevops does not permit blanks in this name.

config TERRAFORM_GCE_JSON_CREDENTIALS_PATH
	string "GCE json credential file path"
	default "account.json"
	help
	  Path to the GCE json credentials file. Refer to the following links
	  for documentation about this:

	    o https://www.terraform.io/docs/providers/google/getting_started.html
	    o https://www.terraform.io/docs/providers/google/index.html
	    o https://cloud.google.com/community/tutorials/getting-started-on-gcp-with-terraform
	    o https://cloud.google.com/iam/docs/creating-managing-service-account-keys
	    o https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource
