choice
	prompt "GCE Machine Family"
	default TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD
	help
	  Select the family of platforms to choose from below.

config TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD
	bool "N1 Standard family"
	depends on TARGET_ARCH_X86_64
	help
	  Balanced performance and cost-effectiveness. Intel
	  Haswell CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N2_STANDARD
	bool "N2 Standard family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on Intel Cascade Lake CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N2_HIGHCPU
	bool "N2 High CPU family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on Intel Cascade Lake CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N2D_STANDARD
	bool "N2D Standard family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on AMD Milan CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N2D_HIGHCPU
	bool "N2D High CPU family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on AMD Milan CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N4_STANDARD
	bool "N4 Standard family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on Intel Emerald Rapids CPUs.

config TERRAFORM_GCE_MACHINE_FAMILY_N4_HIGHCPU
	bool "N4 High CPU family"
	depends on TARGET_ARCH_X86_64
	help
	  General purpose computing on Intel Emerald Rapids CPUs.

endchoice

source "terraform/gce/kconfigs/machines/Kconfig.n1-standard"
source "terraform/gce/kconfigs/machines/Kconfig.n2-standard"
source "terraform/gce/kconfigs/machines/Kconfig.n2-highcpu"
source "terraform/gce/kconfigs/machines/Kconfig.n2d-standard"
source "terraform/gce/kconfigs/machines/Kconfig.n2d-highcpu"
source "terraform/gce/kconfigs/machines/Kconfig.n4-standard"
source "terraform/gce/kconfigs/machines/Kconfig.n4-highcpu"

choice
	prompt "OS Distributor"
	default TERRAFORM_GCE_DISTRO_DEBIAN
	help
	  Select the Linux distribution for the OS base image of the
	  instances to be created.

config TERRAFORM_GCE_DISTRO_CENTOS
	bool "CentOS"

config TERRAFORM_GCE_DISTRO_DEBIAN
	bool "Debian"

config TERRAFORM_GCE_DISTRO_FEDORA
	bool "Fedora"

config TERRAFORM_GCE_DISTRO_OL
	bool "Oracle Linux"

config TERRAFORM_GCE_DISTRO_OPENSUSE
	bool "OpenSUSE"

config TERRAFORM_GCE_DISTRO_RHEL
	bool "Red Hat Enterprise Linux"

config TERRAFORM_GCE_DISTRO_ROCKY
	bool "Rocky Linux"

config TERRAFORM_GCE_DISTRO_SLES
	bool "SUSE Enterprise Linux Server"

endchoice

source "terraform/gce/kconfigs/images/Kconfig.centos"
source "terraform/gce/kconfigs/images/Kconfig.debian"
source "terraform/gce/kconfigs/images/Kconfig.fedora"
source "terraform/gce/kconfigs/images/Kconfig.oracle"
source "terraform/gce/kconfigs/images/Kconfig.opensuse"
source "terraform/gce/kconfigs/images/Kconfig.rhel"
source "terraform/gce/kconfigs/images/Kconfig.rocky"
source "terraform/gce/kconfigs/images/Kconfig.sles"
