choice
	prompt "GCE region"
	default TERRAFORM_GCE_REGION_US_WEST2
	help
	  GCE regions are collections of co-located zones. Zones have
	  high-bandwidth, low-latency network connections to other
	  zones within the same region.

	  For details:
	  https://cloud.google.com/compute/docs/regions-zones/

	  For guidance selecting a region to use, try:
	  https://cloud.withgoogle.com/region-picker/

config TERRAFORM_GCE_REGION_US_CENTRAL1
	bool "us-central1"
	help
	  Council Bluffs, Iowa, USA

config TERRAFORM_GCE_REGION_US_EAST1
	bool "us-east1"
	help
	  Moncks Corner, South Carolina, USA

config TERRAFORM_GCE_REGION_US_WEST1
	bool "us-west1"
	help
	  The Dalles, Oregon, USA

config TERRAFORM_GCE_REGION_US_WEST1
	bool "us-west2"
	help
	  Los Angeles, California, USA

config TERRAFORM_GCE_REGION_US_WEST3
	bool "us-west3"
	help
	  Salt Lake City, Utah, USA

config TERRAFORM_GCE_REGION_US_WEST4
	bool "us-west4"
	help
	  Las Vegas, Nevada, USA

endchoice

config TERRAFORM_GCE_REGION
	string
	output yaml
	default "us-central1" if TERRAFORM_GCE_REGION_US_CENTRAL1
	default "us-east1" if TERRAFORM_GCE_REGION_US_EAST1
	default "us-west1" if TERRAFORM_GCE_REGION_US_WEST1
	default "us-west2" if TERRAFORM_GCE_REGION_US_WEST2
	default "us-west3" if TERRAFORM_GCE_REGION_US_WEST3
	default "us-west4" if TERRAFORM_GCE_REGION_US_WEST4

source "terraform/gce/kconfigs/zones/Kconfig.us-central1"
source "terraform/gce/kconfigs/zones/Kconfig.us-east1"
source "terraform/gce/kconfigs/zones/Kconfig.us-west1"
source "terraform/gce/kconfigs/zones/Kconfig.us-west2"
source "terraform/gce/kconfigs/zones/Kconfig.us-west3"
source "terraform/gce/kconfigs/zones/Kconfig.us-west4"
