choice
	prompt "OS Distributor"
	default TERRAFORM_GCE_DISTRO_DEBIAN
	help
	  Select the Linux distribution for the OS base image of the
	  instances to be created.

config TERRAFORM_GCE_DISTRO_CENTOS
	bool "CentOS"

config TERRAFORM_GCE_DISTRO_DEBIAN
	bool "Debian"

config TERRAFORM_GCE_DISTRO_OL
	bool "Oracle Linux"

config TERRAFORM_GCE_DISTRO_OPENSUSE
	bool "OpenSUSE"

config TERRAFORM_GCE_DISTRO_RHEL
	bool "Red Hat Enterprise Linux"

config TERRAFORM_GCE_DISTRO_ROCKY
	bool "Rocky Linux"

config TERRAFORM_GCE_DISTRO_SLES
	bool "SUSE Enterprise Linux Server"

endchoice

if TERRAFORM_GCE_DISTRO_CENTOS

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "centos-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 20

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_X86_64

config TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_X86_64
	bool "CentOS Stream 9 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "centos-stream-9" if TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_ARM64

config TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_ARM64
	bool "CentOS Stream 9 (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "centos-stream-9-arm64" if TERRAFORM_GCE_IMAGE_CENTOS_STREAM_9_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_CENTOS

if TERRAFORM_GCE_DISTRO_DEBIAN

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "debian-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64

config TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64
	bool "Debian-11 Bullseye (x86)"

config TERRAFORM_GCE_IMAGE_DEBIAN_12_X86_64
	bool "Debian-12 Bookworm (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "debian-11" if TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64
	default "debian-12" if TERRAFORM_GCE_IMAGE_DEBIAN_12_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64

config TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64
	bool "Debian-12 Bookworm (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "debian-12-arm64" if TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_DEBIAN

if TERRAFORM_GCE_DISTRO_OPENSUSE

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "opensuse-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64

config TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64
	bool "OpenLeap 15.5 (x86)"

config TERRAFORM_GCE_IMAGE_OPENLEAP_15_6_X86_64
	bool "OpenLeap 15.6 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "opensuse-leap-15-5" if TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64
	default "opensuse-leap-15-6" if TERRAFORM_GCE_IMAGE_OPENLEAP_15_6_X86_64

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_GCE_DISTRO_OPENSUSE

if TERRAFORM_GCE_DISTRO_OL

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "oracle-linux-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 20

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_OL_8_X86_64
	bool "Oracle Linux 8 (x86)"

config TERRAFORM_GCE_IMAGE_OL_9_X86_64
	bool "Oracle Linux 9 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "oracle-linux-8" if TERRAFORM_GCE_IMAGE_OL_8_X86_64
	default "oracle-linux-9" if TERRAFORM_GCE_IMAGE_OL_9_X86_64

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_GCE_DISTRO_OL

if TERRAFORM_GCE_DISTRO_RHEL

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "rhel-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 20

choice
	prompt "License type"
	default TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL

config TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Pay as you go"

config TERRAFORM_GCE_LICENSE_TYPE_BYOS_RHEL
	bool "Bring your own subscription or license"

endchoice

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_RHEL_8_X86_64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 8 (x86)"

config TERRAFORM_GCE_IMAGE_RHEL_9_X86_64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 9 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rhel-8" if TERRAFORM_GCE_IMAGE_RHEL_8_X86_64_PAYGO
	default "rhel-9" if TERRAFORM_GCE_IMAGE_RHEL_9_X86_64_PAYGO

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_RHEL_9_ARM64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 9 (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rhel-9-arm64" if TERRAFORM_GCE_IMAGE_RHEL_9_ARM64_PAYGO

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_RHEL

if TERRAFORM_GCE_DISTRO_ROCKY

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "rocky-linux-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 20

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_ROCKY_8_X86_64

config TERRAFORM_GCE_IMAGE_ROCKY_8_X86_64
	bool "Rocky Linux 8 (x86)"

config TERRAFORM_GCE_IMAGE_ROCKY_9_X86_64
	bool "Rocky Linux 9 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rocky-linux-8" if TERRAFORM_GCE_IMAGE_ROCKY_8_X86_64
	default "rocky-linux-9" if TERRAFORM_GCE_IMAGE_ROCKY_9_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_ROCKY_9_ARM64

config TERRAFORM_GCE_IMAGE_ROCKY_9_ARM64
	bool "Rocky Linux 9 (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rocky-linux-9-arm64" if TERRAFORM_GCE_IMAGE_ROCKY_9_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_ROCKY

if TERRAFORM_GCE_DISTRO_SLES

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "suse-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_SLES_12_X86_64
	bool "SUSE Linux Enterprise Server 12 (x86)"

config TERRAFORM_GCE_IMAGE_SLES_15_X86_64
	bool "SUSE Linux Enterprise Server 15 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "sles-12" if TERRAFORM_GCE_IMAGE_SLES_12_X86_64
	default "sles-15" if TERRAFORM_GCE_IMAGE_SLES_15_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_SLES_15_ARM64
	bool "SUSE Linux Enterprise Server 15 (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "sles-15-arm64" if TERRAFORM_GCE_IMAGE_SLES_15_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_SLES
