config TERRAFORM_GCE_PROJECT
	string "Project name"
	output yaml
	help
	  A project is made up of the settings, permissions, quotas,
	  and other metadata that describe your cloud resources.
	  Resources that are provisioned within a single project can
	  work together easily, for example by communicating through
	  an internal private network.

	  When creating a Google Cloud project, the administrator
	  chooses a human-readable name for it. Specify that name
	  here.

	  Note: kdevops does not permit blanks in this name.

config TERRAFORM_GCE_CREDENTIALS
	string "Pathname to credentials file"
	output yaml
	help
	  A service account key is a private key that enables an
	  application to authenticate as a service account. Specify
	  the absolute pathname to the file containing your service
	  account key here.

	  Your project administrator can create a service account
	  key by following the steps listed here:

	  https://cloud.google.com/iam/docs/creating-managing-service-account-keys
