if TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD

choice
	prompt "GCE Machine type"
	default TERRAFORM_GCE_MACHINE_N1_STANDARD_8
	help
	  The N1 machine series is Compute Engine's first generation
	  general-purpose machine series available on Intel Skylake,
	  Broadwell, Haswell, Sandy Bridge, and Ivy Bridge CPU
	  platforms.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	bool "n1-standard-1"
	help
	  1 vCPU and 3.75GB of memory.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_2
	bool "n1-standard-2"
	help
	  2 vCPUs (1 core) and 7.5GB of memory.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_4
	bool "n1-standard-4"
	help
	  4 vCPUs (2 cores) and 15GB of memory.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_8
	bool "n1-standard-8"
	help
	  8 vCPUs (4 cores) and 30GB of memory.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_16
	bool "n1-standard-16"
	depends on TARGET_ARCH_X86_64
	help
	  16 vCPUs (8 cores) and 60GB of memory.

config TERRAFORM_GCE_MACHINE_N1_STANDARD_32
	bool "n1-standard-32"
	depends on TARGET_ARCH_X86_64
	help
	  32 vCPUs (16 cores) and 120GB of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "n1-standard-1" if TERRAFORM_GCE_MACHINE_N1_STANDARD_1
	default "n1-standard-2" if TERRAFORM_GCE_MACHINE_N1_STANDARD_2
	default "n1-standard-4" if TERRAFORM_GCE_MACHINE_N1_STANDARD_4
	default "n1-standard-8" if TERRAFORM_GCE_MACHINE_N1_STANDARD_8
	default "n1-standard-16" if TERRAFORM_GCE_MACHINE_N1_STANDARD_16
	default "n1-standard-32" if TERRAFORM_GCE_MACHINE_N1_STANDARD_32

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "pd-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_N1_STANDARD
