if TERRAFORM_GCE_MACHINE_FAMILY_N4_HIGHCPU

choice
	prompt "GCE Machine Type"
	default TERRAFORM_GCE_MACHINE_N4_HIGHCPU_4
	help
	  N4 VMs are powered by the 5th generation Intel Xeon Scalable
	  processors (code-named Emerald Rapids) and Titanium.

config TERRAFORM_GCE_MACHINE_N4_HIGHCPU_2
	bool "n4-highcpu-2"
	help
	  2 vCPUs (1 core) and 4GB of memory.

config TERRAFORM_GCE_MACHINE_N4_HIGHCPU_4
	bool "n4-highcpu-4"
	help
	  4 vCPUs (2 cores) and 8GB of memory.

config TERRAFORM_GCE_MACHINE_N4_HIGHCPU_8
	bool "n4-highcpu-8"
	help
	  8 vCPUs (4 cores) and 16GB of memory.

config TERRAFORM_GCE_MACHINE_N4_HIGHCPU_16
	bool "n4-highcpu-16"
	help
	  16 vCPUs (8 cores) and 32GB of memory.

config TERRAFORM_GCE_MACHINE_N4_HIGHCPU_32
	bool "n4-highcpu-32"
	help
	  32 vCPUs (16 cores) and 64GB of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "n4-highcpu-2" if TERRAFORM_GCE_MACHINE_N4_HIGHCPU_2
	default "n4-highcpu-4" if TERRAFORM_GCE_MACHINE_N4_HIGHCPU_4
	default "n4-highcpu-8" if TERRAFORM_GCE_MACHINE_N4_HIGHCPU_8
	default "n4-highcpu-16" if TERRAFORM_GCE_MACHINE_N4_HIGHCPU_16
	default "n4-highcpu-32" if TERRAFORM_GCE_MACHINE_N4_HIGHCPU_32

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "hyperdisk-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_N4_HIGHCPU
