if TERRAFORM_GCE_MACHINE_FAMILY_N2D_STANDARD

choice
	prompt "GCE Machine type"
	default TERRAFORM_GCE_MACHINE_N2D_STANDARD_4
	help
	  This option sets the GCE machine type. For other machine
	  types, refer to this page:

	  https://cloud.google.com/compute/docs/machine-types

config TERRAFORM_GCE_MACHINE_N2D_STANDARD_2
	bool "n2d-standard-2"
	depends on TARGET_ARCH_X86_64
	help
	  2 vCPU (1 core) and 8GB of memory.

config TERRAFORM_GCE_MACHINE_N2D_STANDARD_4
	bool "n2d-standard-4"
	depends on TARGET_ARCH_X86_64
	help
	  4 vCPU (2 core) and 16GB of memory.

config TERRAFORM_GCE_MACHINE_N2D_STANDARD_8
	bool "n2d-standard-8"
	depends on TARGET_ARCH_X86_64
	help
	  8 vCPU (4 cores) and 32GB of memory.

config TERRAFORM_GCE_MACHINE_N2D_STANDARD_16
	bool "n2d-standard-16"
	depends on TARGET_ARCH_X86_64
	help
	  16 vCPU (8 cores) and 64GB of memory.

config TERRAFORM_GCE_MACHINE_N2D_STANDARD_32
	bool "n2d-standard-32"
	depends on TARGET_ARCH_X86_64
	help
	  32 vCPU (16 cores) and 128GB of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "n2d-standard-2" if TERRAFORM_GCE_MACHINE_N2D_STANDARD_2
	default "n2d-standard-4" if TERRAFORM_GCE_MACHINE_N2D_STANDARD_4
	default "n2d-standard-8" if TERRAFORM_GCE_MACHINE_N2D_STANDARD_8
	default "n2d-standard-16" if TERRAFORM_GCE_MACHINE_N2D_STANDARD_16
	default "n2d-standard-32" if TERRAFORM_GCE_MACHINE_N2D_STANDARD_32

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "pd-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_N2D_STANDARD
