if TERRAFORM_GCE_MACHINE_FAMILY_C3_STANDARD

choice
	prompt "GCE Machine Type"
	default TERRAFORM_GCE_MACHINE_C3_STANDARD_4
	help
	  C3 VMs are powered by the 4th generation Intel Xeon
	  Scalable processors (code-named Sapphire Rapids), DDR5
	  memory, and Titanium, enabling higher levels of networking
	  performance, isolation and security.

config TERRAFORM_GCE_MACHINE_C3_STANDARD_4
	bool "c3-standard-4"
	help
	  4 vCPUs (2 cores) and 16GB of memory.

config TERRAFORM_GCE_MACHINE_C3_STANDARD_8
	bool "c3-standard-8"
	help
	  8 vCPUs (4 cores) and 32GB of memory.

config TERRAFORM_GCE_MACHINE_C3_STANDARD_22
	bool "c3-standard-22"
	help
	  22 vCPUs (11 cores) and 88GB of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "c3-standard-4" if TERRAFORM_GCE_MACHINE_C3_STANDARD_4
	default "c3-standard-8" if TERRAFORM_GCE_MACHINE_C3_STANDARD_8
	default "c3-standard-22" if TERRAFORM_GCE_MACHINE_C3_STANDARD_22

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "hyperdisk-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_C3_STANDARD
