if TERRAFORM_GCE_MACHINE_FAMILY_E2_HIGHCPU

choice
	prompt "GCE Machine type"
	default TERRAFORM_GCE_MACHINE_E2_HIGHCPU_8
	help
	  The E2 machine series offers both Intel and AMD EPYC
	  processors, selected for you at the time of VM creation.
	  Machine types in this series are available in all regions
	  and zones and support a virtio memory balloon device.

config TERRAFORM_GCE_MACHINE_E2_HIGHCPU_2
	bool "e2-highcpu-2"
	depends on TARGET_ARCH_X86_64
	help
	  2 vCPUs (1 core) and 2GB of memory.

config TERRAFORM_GCE_MACHINE_E2_HIGHCPU_4
	bool "e2-highcpu-4"
	depends on TARGET_ARCH_X86_64
	help
	  4 vCPUs (2 cores) and 4GB of memory.

config TERRAFORM_GCE_MACHINE_E2_HIGHCPU_8
	bool "e2-highcpu-8"
	depends on TARGET_ARCH_X86_64
	help
	  8 vCPUs (4 cores) and 8GB of memory.

config TERRAFORM_GCE_MACHINE_E2_HIGHCPU_16
	bool "e2-highcpu-16"
	depends on TARGET_ARCH_X86_64
	help
	  16 vCPUs (8 cores) and 16GB of memory.

config TERRAFORM_GCE_MACHINE_E2_HIGHCPU_32
	bool "e2-highcpu-32"
	depends on TARGET_ARCH_X86_64
	help
	  32 vCPUs (16 cores) and 32GB of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "e2-highcpu-2" if TERRAFORM_GCE_MACHINE_E2_HIGHCPU_2
	default "e2-highcpu-4" if TERRAFORM_GCE_MACHINE_E2_HIGHCPU_4
	default "e2-highcpu-8" if TERRAFORM_GCE_MACHINE_E2_HIGHCPU_8
	default "e2-highcpu-16" if TERRAFORM_GCE_MACHINE_E2_HIGHCPU_16
	default "e2-highcpu-32" if TERRAFORM_GCE_MACHINE_E2_HIGHCPU_32

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "pd-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_E2_HIGHCPU
