if TERRAFORM_GCE_MACHINE_FAMILY_C4_STANDARD

choice
	prompt "GCE Machine Type"
	default TERRAFORM_GCE_MACHINE_C4_STANDARD_4
	help
	  C4 VMs are powered by 6th generation (code-named Granite
	  Rapids) or 5th generation (code-named Emerald Rapids)
	  Intel Xeon Scalable processors and Titanium.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_2
	bool "c4-standard-2"
	help
	  2 vCPUs (1 core) and 7GB of memory.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_4
	bool "c4-standard-4"
	help
	  4 vCPUs (2 core) and 15GB of memory.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_8
	bool "c4-standard-8"
	help
	  8 vCPUs (4 cores) and 30GB of memory.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_16
	bool "c4-standard-16"
	help
	  16 vCPUs (8 cores) and 60GB of memory.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_24
	bool "c4-standard-24"
	help
	  24 vCPUs (12 cores) and 90GB of memory.

config TERRAFORM_GCE_MACHINE_C4_STANDARD_32
	bool "c4-standard-32"
	help
	  32 vCPUs (16 cores) and 120 of memory.

endchoice

config TERRAFORM_GCE_MACHINE_TYPE
	string
	output yaml
	default "c4-standard-2" if TERRAFORM_GCE_MACHINE_C4_STANDARD_2
	default "c4-standard-4" if TERRAFORM_GCE_MACHINE_C4_STANDARD_4
	default "c4-standard-8" if TERRAFORM_GCE_MACHINE_C4_STANDARD_8
	default "c4-standard-16" if TERRAFORM_GCE_MACHINE_C4_STANDARD_16
	default "c4-standard-24" if TERRAFORM_GCE_MACHINE_C4_STANDARD_24
	default "c4-standard-32" if TERRAFORM_GCE_MACHINE_C4_STANDARD_32

config TERRAFORM_GCE_IMAGE_TYPE
	string
	output yaml
	default "hyperdisk-balanced"

endif # TERRAFORM_GCE_MACHINE_FAMILY_C4_STANDARD
