if TERRAFORM_AWS

menu "Resource Location"
source "terraform/aws/kconfigs/Kconfig.location.generated"
endmenu
menu "Compute"
source "terraform/aws/kconfigs/Kconfig.compute.generated"
endmenu
menu "Storage"
source "terraform/aws/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/aws/kconfigs/Kconfig.identity"
source "terraform/aws/kconfigs/Kconfig.ssh"
endmenu

endif # TERRAFORM_AWS
