if TERRAFORM_AWS

menu "Resource Location"
source "terraform/aws/kconfigs/Kconfig.location"
endmenu
menu "Compute"
source "terraform/aws/kconfigs/Kconfig.instance"
source "terraform/aws/kconfigs/Kconfig.ami"
endmenu
menu "Storage"
source "terraform/aws/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/aws/kconfigs/Kconfig.identity"
endmenu

endif # TERRAFORM_AWS
