---
- name: Set generic SUSE specific distro facts
  ansible.builtin.set_fact:
    is_sle: '{{ (ansible_distribution == "SLES") or (ansible_distribution == "SLED") }}'
    is_leap: '{{ "Leap" in ansible_distribution }}'
    is_tumbleweed: '{{ "openSUSE Tumbleweed" == ansible_distribution }}'

# SLE has no good package for terraform, and the one from package hub tends to be old
- name: Override default setting for force_install_zip for SLE
  ansible.builtin.set_fact:
    force_install_zip: true
  when:
    - is_sle

- name: Verify Terraform installation
  ansible.builtin.command: "which terraform"
  register: terraform_present
  changed_when: terraform_present.rc == 1
  failed_when: terraform_present.rc != 0 and terraform_present.rc != 1
  when: terraform_use_terraform|bool
  tags: ["terraform", "verify"]

- name: Verify OpenTofu installation
  ansible.builtin.command: "which tofu"
  register: opentofu_present
  changed_when: opentofu_present.rc == 1
  failed_when: opentofu_present.rc != 0 and opentofu_present.rc != 1
  when: terraform_use_opentofu|bool
  tags: ["terraform", "verify"]

- name: Download Terraform from the latest release and install locally
  become: true
  become_method: sudo
  ansible.builtin.unarchive:
    src: https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: true
  when:
    - terraform_use_terraform|bool
    - force_install_zip|bool
    - force_install_if_present|bool or (is_sle or is_leap and terraform_present.rc != 0)

- name: Download OpenTofu from the latest release and install locally
  become: true
  become_method: sudo
  ansible.builtin.unarchive:
    src: https://github.com/opentofu/opentofu/releases/download/v{{ opentofu_version }}/tofu_{{ opentofu_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: true
  when:
    - terraform_use_opentofu|bool
    - force_install_zip|bool
    - force_install_if_present|bool or (is_sle or is_leap and opentofu_present.rc != 0)

- name: Install terraform from your tumbleweed repository
  become: true
  become_method: sudo
  ansible.builtin.package:
    name:
      - terraform
    state: present
  when:
    - terraform_use_terraform|bool
    - not force_install_zip|bool
    - not force_install_if_present|bool
    - terraform_present.rc != 0
    - is_tumbleweed
