if TERRAFORM_AWS_INSTANCE_TYPE_IS4GEN

choice
	prompt "AWS instance size"
	default TERRAFORM_AWS_INSTANCE_SIZE_IS4GEN_MEDIUM

config TERRAFORM_AWS_INSTANCE_SIZE_IS4GEN_MEDIUM
	bool "is4gen.medium"
	help
	  6 GiB RAM, 1vCPU, 1 x 937 GiB NVMe SSD, 25 Gbps Net, 9.6 Gbps EBS.

config TERRAFORM_AWS_INSTANCE_SIZE_IS4GEN_8XLARGE
	bool "is4gen.8xlarge"
	help
	  192 GiB RAM, 32 vCPUs, 4 x 7500 NVMe SSD, 50 Gbps Net, 19 Gbps EBS.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "is4gen.medium" if TERRAFORM_AWS_INSTANCE_SIZE_IS4GEN_MEDIUM
	default "is4gen.8xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_IS4GEN_8XLARGE

endif # TERRAFORM_AWS_INSTANCE_TYPE_IS4GEN
