if TERRAFORM_AWS_INSTANCE_TYPE_IM4GN

choice
	prompt "AWS instance size"
	default TERRAFORM_AWS_INSTANCE_SIZE_IM4GN_LARGE

config TERRAFORM_AWS_INSTANCE_SIZE_IM4GN_LARGE
	bool "im4gn.large"
	help
	  8 GiB RAM, 2vCPUs, 1 x 937 GiB NVMe SSD, 25 Gbps Net, 9.5 Gbps EBS.

config TERRAFORM_AWS_INSTANCE_SIZE_IM4GN_4XLARGE
	bool "im4gn.4xlarge"
	help
	  64 GiB RAM, 16 vcpus, 1 x 7500 NVMe SSD, 25 Gbps Net, 9.5 Gbps EBS.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "im4gn.large" if TERRAFORM_AWS_INSTANCE_SIZE_IM4GN_LARGE
	default "im4gn.4xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_IM4GN_4XLARGE

endif # TERRAFORM_AWS_INSTANCE_TYPE_IM4GN
