if TERRAFORM_AWS_INSTANCE_TYPE_C7A

choice
	prompt "AWS instance size"
	default TERRAFORM_AWS_INSTANCE_SIZE_C7A_8XLARGE
	help
	  Add storage by increasing the number of EBS volumes per
	  instance.

config TERRAFORM_AWS_INSTANCE_SIZE_C7A_8XLARGE
	bool "c7a.8xlarge"
	help
	  32 core, 64 GiB RAM, EBS drives.

config TERRAFORM_AWS_INSTANCE_SIZE_C7A_METAL_48XL
	bool "c7a.metal-48xl"
	help
	  192 core, 384 GiB RAM, EBS drive.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "c7a.8xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_C7A_8XLARGE
	default "c7a.metal-48xl" if TERRAFORM_AWS_INSTANCE_SIZE_C7A_METAL_48XL

endif # TERRAFORM_AWS_INSTANCE_TYPE_C7A
