if TERRAFORM_AWS_INSTANCE_TYPE_I4I

choice
	prompt "AWS instance type"
	default TERRAFORM_AWS_INSTANCE_SIZE_I4I_4XLARGE

config TERRAFORM_AWS_INSTANCE_SIZE_I4I_LARGE
	bool "i4i.large"
	help
	  16 GiB RAM, 2 vcpus, 1 x 468 AWS Nitro SSD, 10 Gbps Net, 10 Gbps EBS.

config TERRAFORM_AWS_INSTANCE_SIZE_I4I_4XLARGE
	bool "i4i.4xlarge"
	help
	  128 GiB RAM, 16 vcpus, 1 x 3,750 AWS Nitro SSD, 25 Gbps Net,
	  10 Gbps EBS.

config TERRAFORM_AWS_INSTANCE_SIZE_I4I_METAL
	bool "i4i.metal"
	help
	  1024 GiB RAM, 128 real cpus?, 8 x 3,750 AWS Nitro SSD,
	  75 Gbps Net, 40 Gbps EBS. The bees' knees I guess.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "i4i.large" if TERRAFORM_AWS_INSTANCE_SIZE_I4I_LARGE
	default "i4i.4xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_I4I_4XLARGE
	default "i4i.metal" if TERRAFORM_AWS_INSTANCE_SIZE_I4I_METAL

endif # TERRAFORM_AWS_INSTANCE_TYPE_I4I
