if TERRAFORM_AWS_INSTANCE_TYPE_M7A

choice
	prompt "AWS instance type"
	default TERRAFORM_AWS_INSTANCE_SIZE_M7A_XLARGE
	help
	  Add storage by increasing the number of EBS volumes per
	  instance.

config TERRAFORM_AWS_INSTANCE_SIZE_M7A_MEDIUM
	bool "m7a.medium"
	depends on TARGET_ARCH_X86_64
	help
	  4 GiB RAM, 1 AMD Ryzen vcpu, 1 10 GiB main drive, and up to
	  12.5 Gbs network speed.

config TERRAFORM_AWS_INSTANCE_SIZE_M7A_LARGE
	bool "m7a.large"
	depends on TARGET_ARCH_X86_64
	help
	  8 GiB RAM, 2 AMD Ryzen vcpus, 1 10 GiB main drive, and up to
	  12.5 Gbs network speed.

config TERRAFORM_AWS_INSTANCE_SIZE_M7A_XLARGE
	bool "m7a.xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  16 GiB RAM, 4 AMD Ryzen vcpus, 1 10 GiB main drive, and up to
	  12.5 Gbs network speed.

config TERRAFORM_AWS_INSTANCE_SIZE_M7A_2XLARGE
	bool "m7a.2xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  32 GiB RAM, 8 AMD Ryzen vcpus, 1 10 GiB main drive, and up to
	  12.5 Gbs network speed.

config TERRAFORM_AWS_INSTANCE_SIZE_M7A_4XLARGE
	bool "m7a.4xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  64 GiB RAM, 16 AMD Ryzen vcpus, 1 10 GiB main drive, and up to
	  12.5 Gbs network speed.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "m7a.medium" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_MEDIUM
	default "m7a.large" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_LARGE
	default "m7a.xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_XLARGE
	default "m7a.xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_XLARGE
	default "m7a.2xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_2XLARGE
	default "m7a.4xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M7A_4XLARGE

endif # TERRAFORM_AWS_INSTANCE_TYPE_M7A
