if TERRAFORM_AWS_INSTANCE_TYPE_M5

choice
	prompt "AWS instance type"
	default TERRAFORM_AWS_INSTANCE_SIZE_M5AD_4XLARGE
	help
	  Add storage by selecting the TERRAFORM_AWS_ENABLE_EBS_VOLUMES
	  option and adjusting the size and number of additional devices.

config TERRAFORM_AWS_INSTANCE_SIZE_M5AD_LARGE
	bool "m5ad.large"
	depends on TARGET_ARCH_X86_64
	help
	  8 GiB RAM, 2 AMD vcpus, 1 10 GiB main drive, up to 10 Gbps
	  network speed, and one 75 GiB NVMe drive.

config TERRAFORM_AWS_INSTANCE_SIZE_M5AD_XLARGE
	bool "m5ad.xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  16 GiB RAM, 4 AMD vcpus, 1 10 GiB main drive, up to 10 Gbps
	  network speed, and one 150 GiB NVMe drive.

config TERRAFORM_AWS_INSTANCE_SIZE_M5AD_2XLARGE
	bool "m5ad.2xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  32 GiB RAM, 8 AMD vcpus, 1 10 GiB main drive, up to 10 Gbps
	  network speed, and one 300 GiB NVMe drive.

config TERRAFORM_AWS_INSTANCE_SIZE_M5AD_4XLARGE
	bool "m5ad.4xlarge"
	depends on TARGET_ARCH_X86_64
	help
	  64 GiB RAM, 16 AMD vcpus, 1 10 GiB main drive, up to 10 Gbps
	  and two 300 GiB NVMe drives.

endchoice

config TERRAFORM_AWS_INSTANCE_TYPE
	string
	output yaml
	default "m5ad.large" if TERRAFORM_AWS_INSTANCE_SIZE_M5AD_LARGE
	default "m5ad.xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M5AD_XLARGE
	default "m5ad.2xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M5AD_2XLARGE
	default "m5ad.4xlarge" if TERRAFORM_AWS_INSTANCE_SIZE_M5AD_4XLARGE

endif # TERRAFORM_AWS_INSTANCE_TYPE_M5
