---
# Terraform role entry point
# Orchestrates provider-specific and common tasks via includes

- name: Include bringup tasks
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/bringup/main.yml"
  tags:
    - bringup

- name: Include SSH configuration tasks
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/common/ssh-config.yml"
  tags:
    - ssh

- name: Include status reporting tasks
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/common/status.yml"
  tags:
    - status

- name: Include destroy tasks
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/destroy/main.yml"
  tags:
    - destroy
