choice
	prompt "Linux distribution"
	default TERRAFORM_AWS_DISTRO_DEBIAN
	help
	  Select a popular Linux distribution to install on your
	  instances, or use the "Custom AMI image" selection to
	  choose an image that is off the beaten path.

{% for owner_key in sorted_keys %}
config TERRAFORM_AWS_DISTRO_{{ owner_key.upper() }}
	bool "{{ owners[owner_key]['description'] }}"

{% endfor %}
config TERRAFORM_AWS_DISTRO_CUSTOM
	bool "Custom AMI image"

endchoice

config TERRAFORM_AWS_AMI_ARCH
	string
	output yaml
	default "x86_64" if TARGET_ARCH_X86_64
	default "arm64" if TARGET_ARCH_ARM64

if TERRAFORM_AWS_DISTRO_CUSTOM

config TERRAFORM_AWS_AMI_OWNER
	string "AWS AMI owner or owner alias"
	output yaml
	help
	  The owner is a string of digits that represents a
	  collection of published images to search, such as
	  "137112412989". Sometimes the publisher also provides
	  an alias, which is a human-readable name of that
	  collection, such as "aws-marketplace".

config TERRAFORM_AWS_NS
	string "AWS AMI name search expression"
	output yaml
	help
	  This option sets a custom aws image search expression to
	  use. Using this filter glob lets us get the latest AMI for
	  your preferred OS release.

	  To get filter values you can first setup aws cli:

	  https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html#cli-quick-configuration

	  Get your image ami id. For debian 9 amd64 on the us-west-1,
	  this is ami-0adbaf2e0ce044437. You can then run:

	  aws ec2 describe-images --image-ids ami-0adbaf2e0ce044437 | grep Name

	  For details:

	  https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-images.html

endif # TERRAFORM_AWS_DISTRO_CUSTOM
