---
- name: Enable installation of packages from EPEL
  ansible.builtin.include_role:
    name: epel-release
  when:
    - ansible_distribution != "Fedora"

- name: Install packages we care about
  become: true
  become_method: sudo
  yum:
    update_cache: true
    name: "{{ packages }}"
  retries: 3
  delay: 5
  register: result
  until: result is succeeded
  vars:
    packages:
      - bison
      - flex
      - git-core
      - e2fsprogs
      - xfsprogs
      - xfsdump
      - lvm2
      - gcc
      - make
      - gawk
      - bc
      - dump
      - libtool
      - psmisc
      - sed
      - vim
      - fio
      - libaio-devel
      - diffutils
      - net-tools
      - ncurses-devel
      - xfsprogs
      - e2fsprogs
      - elfutils-libelf-devel
      - ntfs-3g
      - mdadm
      - rpcbind
      - portmap
      - hwinfo
      - iscsi-initiator-utils
      - openssl
      - openssl-devel
      - dwarves
      - userspace-rcu
      - zstd

- name: Install btrfs-progs
  become: true
  become_method: sudo
  yum:
    update_cache: true
    name: "{{ packages }}"
  retries: 3
  delay: 5
  register: result
  until: result is succeeded
  vars:
    packages:
      - btrfs-progs
  when: ansible_distribution == 'Fedora'

- name: Install clang
  become: true
  ansible.builtin.dnf:
    name:
      - clang
      - lld
      - llvm
    state: present
    update_cache: true
  retries: 3
  delay: 5
  register: clang_result
  until: clang_result is succeeded
  when:
    - bootlinux_compiler_clang|bool

- name: Install rpmbuild
  become: true
  become_method: ansible.builtin.sudo
  ansible.builtin.dnf:
    name:
      - elfutils-devel
      - perl-core
      - rpm-build
      - rsync
    state: present
    update_cache: true
  retries: 3
  delay: 5
  register: rpmbuild_result
  until: rpmbuild_result is succeeded
  when:
    - bootlinux_builder|bool

- name: Remove packages that mess with initramfs
  become: true
  become_method: sudo
  yum:
    state: absent
    name: dracut-config-generic
