{# Workflow template for ltp #}
[all]
localhost ansible_connection=local
{% for host in ltp_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ host }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ host }}-dev
{% endif %}
{% endfor %}

[all:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

[baseline]
{% for host in ltp_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ host }}
{% endfor %}

[baseline:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% if kdevops_baseline_and_dev %}
[dev]
{% for host in ltp_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ host }}-dev
{% endfor %}

[dev:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% endif %}
[ltp]
{% for host in ltp_enabled_hosts %}
{{ kdevops_host_prefix }}-{{ host }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ host }}-dev
{% endif %}
{% endfor %}

[ltp:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
