{# Workflow template for selftests #}
[all]
localhost ansible_connection=local
{% for test_type in selftests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}
{% endfor %}

[all:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

[baseline]
{% for test_type in selftests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% endfor %}

[baseline:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% if kdevops_baseline_and_dev %}
[dev]
{% for test_type in selftests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endfor %}

[dev:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% endif %}
[selftests]
{% for test_type in selftests_enabled_test_types %}
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}
{% endfor %}

[selftests:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% for test_type in selftests_enabled_test_types %}
[selftests_{{ test_type | replace('-', '_') }}]
{{ kdevops_host_prefix }}-{{ test_type }}
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-{{ test_type }}-dev
{% endif %}

[selftests_{{ test_type | replace('-', '_') }}:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"

{% endfor %}
