---
- name: Initialize the kernel config file names search list
  ansible.builtin.set_fact:
    search_list:
      - "{{ role_path }}/templates/config-kdevops"
      - "{{ role_path }}/templates/{{ target_linux_config }}"

- name: Find all linux-next kernel config files
  delegate_to: localhost
  run_once: true
  ansible.builtin.find:
    paths: "{{ role_path }}/templates"
    patterns: "config-next-*"
    file_type: file
  register: linux_next_configs

- name: Build a list of linux-next kernel config file names
  ansible.builtin.set_fact:
    config_file_names: "{{ config_file_names | default([]) + [item.path] }}"
  loop: "{{ linux_next_configs.files }}"
  loop_control:
    label: "Adding {{ item.path | basename }}..."
  when:
    - linux_next_configs.matched > 0

- name: Append the name of the most recent linux-next kernel config to the search list
  vars:
    config_file_names_sorted: "{{ config_file_names | community.general.version_sort }}"
  ansible.builtin.set_fact:
    search_list: "{{ search_list + [config_file_names_sorted[-1]] }}"
  when:
    - linux_next_configs.matched > 0

- name: Clean kernel source before configuration (make mrproper) for non-9P builds
  community.general.make:
    chdir: "{{ target_linux_dir_path }}"
    target: "mrproper"
  when:
    - bootlinux_clean_before_build|default(false)|bool
    - not bootlinux_9p|bool

- name: Set the .config file for building the test kernel
  ansible.builtin.set_fact:
    linux_config: "{{ item | basename }}"
  with_first_found:
    - files: "{{ search_list }}"
