---
- name: Import optional extra_args file
  ansible.builtin.include_vars: "{{ item }}"
  ignore_errors: true
  with_first_found:
    - files:
        - "../extra_vars.yml"
        - "../extra_vars.yaml"
        - "../extra_vars.json"
      skip: true
  tags: vars

- name: Wait for target nodes to become reachable
  ansible.builtin.wait_for_connection:

- name: Gather network facts
  ansible.builtin.setup:
    gather_subset:
      - "network"

- name: Build network address
  ansible.builtin.set_fact:
    private_network: "{{ terraform_private_net_prefix }}/{{ terraform_private_net_mask }}"
  when:
    - terraform_private_net_enabled

- name: Build list of hosts
  ansible.builtin.set_fact:
    ueh_hosts: "{{ ansible_play_hosts_all | difference([inventory_hostname]) }}"

- ansible.builtin.debug:
    var: ueh_hosts

- name: Stat /etc/cloud/cloud.cfg.d
  ansible.builtin.stat:
    path: /etc/cloud/cloud.cfg.d
  register: cloud_init

- name: Disable cloud-init hosts management
  become: true
  become_method: sudo
  ansible.builtin.lineinfile:
    dest: /etc/cloud/cloud.cfg.d/99-kdevops-manage-net-disable
    line: "manage_etc_hosts: false"
    create: true
  when:
    - cloud_init.stat.exists

- name: Add IP address of all hosts to all hosts
  become: true
  become_method: sudo
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: ".*{{ item }}$"
    line: "{{ hostvars[item].ansible_all_ipv4_addresses | ipaddr(private_network) | first }} {{ item }}"
    state: present
  with_items: "{{ ueh_hosts }}"
  when:
    - terraform_private_net_enabled

- name: Add IP address of all hosts to all hosts
  become: true
  become_method: sudo
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: ".*{{ item }}$"
    line: "{{ hostvars[item].ansible_all_ipv4_addresses | first }} {{ item }}"
    state: present
  with_items: "{{ ueh_hosts }}"
  when:
    - not terraform_private_net_enabled

- name: Fix up hostname on Debian guestfs hosts
  become: true
  become_method: sudo
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^(127\\.0\\.1\\.1)(\\s+)unassigned-hostname\\.unassigned-domain\\s+({{ ansible_hostname }})$"
    backrefs: true
    line: "\\1\\2\\3"
  when:
    - ansible_os_family == 'Debian'
    - kdevops_enable_guestfs|bool
