aws_profile = "{{ terraform_aws_profile }}"
aws_region = "{{ terraform_aws_region }}"
aws_availability_zone = "{{ terraform_aws_av_zone }}"
aws_name_search = "{{ terraform_aws_ns }}"
aws_ami_owner = "{{ terraform_aws_ami_owner }}"
aws_ami_arch = "{{ terraform_aws_ami_arch }}"
aws_instance_type = "{{ terraform_aws_instance_type }}"
aws_ebs_volumes_per_instance = "{{ terraform_aws_ebs_volumes_per_instance }}"
aws_ebs_volume_size = {{ terraform_aws_ebs_volume_size }}
aws_ebs_volume_type = "{{ terraform_aws_ebs_volume_type }}"
{% if terraform_aws_ebs_volume_iops is defined %}
aws_ebs_volume_iops = {{ terraform_aws_ebs_volume_iops }}
{% endif %}
{% if aws_ebs_volume_throughput is defined %}
aws_ebs_volume_throughput = {{ terraform_aws_ebs_volume_throughput }}
{% endif %}

ssh_config_pubkey_file = "{{ kdevops_terraform_ssh_config_pubkey_file }}"
ssh_config_user = "{{ kdevops_terraform_ssh_config_user }}"
ssh_config = "{{ sshconfig }}"

ssh_config_update = "{{ kdevops_terraform_ssh_config_update | lower }}"
ssh_config_use_strict_settings = "{{ kdevops_terraform_ssh_config_update_strict  | lower }}"
ssh_config_backup = "{{ kdevops_terraform_ssh_config_update_backup | lower }}"
