choice
	prompt "Number of EBS volumes"
	default TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_4

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_0
	bool "0"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_1
	bool "1"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_2
	bool "2"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_3
	bool "3"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_4
	bool "4"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_5
	bool "5"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_6
	bool "6"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_7
	bool "7"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_8
	bool "8"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_9
	bool "9"

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_10
	bool "10"

endchoice

config TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE
	int
	output yaml
	default 0 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_0
	default 1 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_1
	default 2 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_2
	default 3 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_3
	default 4 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_4
	default 5 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_5
	default 6 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_6
	default 7 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_7
	default 8 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_8
	default 9 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_9
	default 10 if TERRAFORM_AWS_EBS_VOLUMES_PER_INSTANCE_10

choice
	prompt "Device type for all EBS volumes"
	default TERRAFORM_AWS_EBS_VOLUME_TYPE_GP2
	help
	  This setting specifies the type of device to provision
	  for EBS volumes attached to kdevops instances.

config TERRAFORM_AWS_EBS_VOLUME_TYPE_GP2
	bool "gp2"
	help
	  All extra EBS volumes are "General Purpose SSD volumes",
	  version 2.

config TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3
	bool "gp3"
	help
	  All extra EBS volumes are "General Purpose SSD volumes",
	  version 3.

config TERRAFORM_AWS_EBS_VOLUME_TYPE_IO1
	bool "io1"
	help
	  All extra EBS volumes are "Provisioned IOPS SSD volumes"
	  version 1.

config TERRAFORM_AWS_EBS_VOLUME_TYPE_IO2
	bool "io2"
	help
	  All extra EBS volumes are "Provisioned IOPS SSD volumes"
	  version 2.

endchoice

config TERRAFORM_AWS_EBS_VOLUME_TYPE
	string
	output yaml
	default "gp2" if TERRAFORM_AWS_EBS_VOLUME_TYPE_GP2
	default "gp3" if TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3
	default "io1" if TERRAFORM_AWS_EBS_VOLUME_TYPE_IO1
	default "io2" if TERRAFORM_AWS_EBS_VOLUME_TYPE_IO2

if TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3 || TERRAFORM_AWS_EBS_VOLUME_TYPE_IO1 || TERRAFORM_AWS_EBS_VOLUME_TYPE_IO2

config TERRAFORM_AWS_EBS_VOLUME_IOPS
	int "IOPS provisioned for EBS volumes"
	output yaml
	default 3000
	help
	  This setting specifies the IOPS to be provisioned for each
	  extra EBS volume.

endif # TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3 || TERRAFORM_AWS_EBS_ ...

if TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3 || TERRAFORM_AWS_EBS_VOLUME_TYPE_IO1

config TERRAFORM_AWS_EBS_VOLUME_THROUGHPUT
	int "Throughput provisioned for EBS volumes"
	output yaml
	default 125
	range 125 1000
	help
	  This setting specifies the maximum throughput, in
	  megabytes per second, to be provisioned for each extra EBS
	  volume. The maximum setting allowed by AWS varies with the
	  number and type of EBS volumes attached to each instance.

endif # TERRAFORM_AWS_EBS_VOLUME_TYPE_GP3 || TERRAFORM_AWS_EBS_VOLUME_TYPE_IO1

choice
	prompt "Volume size for all EBS volumes"
	default TERRAFORM_AWS_EBS_VOLUME_SIZE_32G

config TERRAFORM_AWS_EBS_VOLUME_SIZE_4G
	bool "4G"
	help
	  Use 4 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_8G
	bool "8G"
	help
	  Use 8 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_16G
	bool "16G"
	help
	  Use 16 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_32G
	bool "32G"
	help
	  Use 32 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_64G
	bool "64G"
	help
	  Use 64 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_128G
	bool "128G"
	help
	  Use 128 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_256G
	bool "256G"
	help
	  Use 256 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_512G
	bool "512G"
	help
	  Use 512 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_1024G
	bool "1024G"
	help
	  Use 1024 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_2048G
	bool "2048G"
	help
	  Use 2048 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_3078G
	bool "3078G"
	help
	  Use 3078 GiB EBS volumes.

config TERRAFORM_AWS_EBS_VOLUME_SIZE_4096G
	bool "4096G"
	help
	  Use 4096 GiB EBS volumes.

endchoice

config TERRAFORM_AWS_EBS_VOLUME_SIZE
	int
	output yaml
	default 4 if TERRAFORM_AWS_EBS_VOLUME_SIZE_4G
	default 8 if TERRAFORM_AWS_EBS_VOLUME_SIZE_8G
	default 16 if TERRAFORM_AWS_EBS_VOLUME_SIZE_16G
	default 32 if TERRAFORM_AWS_EBS_VOLUME_SIZE_32G
	default 64 if TERRAFORM_AWS_EBS_VOLUME_SIZE_64G
	default 128 if TERRAFORM_AWS_EBS_VOLUME_SIZE_128G
	default 256 if TERRAFORM_AWS_EBS_VOLUME_SIZE_256G
	default 512 if TERRAFORM_AWS_EBS_VOLUME_SIZE_512G
	default 1024 if TERRAFORM_AWS_EBS_VOLUME_SIZE_1024G
	default 2048 if TERRAFORM_AWS_EBS_VOLUME_SIZE_2048G
	default 3078 if TERRAFORM_AWS_EBS_VOLUME_SIZE_3078G
	default 4096 if TERRAFORM_AWS_EBS_VOLUME_SIZE_4096G

config TERRAFORM_AWS_DATA_VOLUME_DEVICE_FILE_NAME
	string "Data volume's device file name"
	output yaml
	default "/dev/disk/kdevops/extra-volume-00"
	help
	  This option sets the name of the block device on each
	  target node that is to be used for the /data file system.

config TERRAFORM_AWS_SPARSE_VOLUME_DEVICE_FILE_NAME
	string "Sparse volume's device file name"
	output yaml
	default "/dev/disk/kdevops/extra-volume-01"
	help
	  This option sets the name of the block device on each
	  target node that can be used for the fstests sparse device
	  tests.
