choice
	prompt "Linux distribution"
	default TERRAFORM_AWS_DISTRO_DEBIAN
	help
	  Select a popular Linux distribution to install on your
	  instances, or use the "Custom AMI image" selection to
	  choose an image that is off the beaten path.

config TERRAFORM_AWS_DISTRO_AMAZON
	bool "Amazon Linux"

config TERRAFORM_AWS_DISTRO_DEBIAN
	bool "Debian"

config TERRAFORM_AWS_DISTRO_FEDORA
	bool "Fedora Core"

config TERRAFORM_AWS_DISTRO_RHEL
	bool "Red Hat Enterprise Linux"

config TERRAFORM_AWS_DISTRO_SLES
	bool "Suse Linux Enterprise Server"

config TERRAFORM_AWS_DISTRO_CUSTOM
	bool "Custom AMI image"

endchoice

config TERRAFORM_AWS_AMI_ARCH
	string
	output yaml
	default "x86_64" if TARGET_ARCH_X86_64
	default "arm64" if TARGET_ARCH_ARM64

source "terraform/aws/kconfigs/distros/Kconfig.amazon"
source "terraform/aws/kconfigs/distros/Kconfig.debian"
source "terraform/aws/kconfigs/distros/Kconfig.fedora"
source "terraform/aws/kconfigs/distros/Kconfig.rhel"
source "terraform/aws/kconfigs/distros/Kconfig.sles"
source "terraform/aws/kconfigs/distros/Kconfig.custom"
