choice
	prompt "AWS instance types"
	help
	  Instance types comprise varying combinations of hardware
	  platform, CPU count, memory size, storage, and networking
	  capacity. Select the type that provides an appropriate mix
	  of resources for your preferred workflows.

	  Some instance types are region- and capacity-limited.

	  See https://aws.amazon.com/ec2/instance-types/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_M5
	bool "M5"
	depends on TARGET_ARCH_X86_64
	help
	  This is a general purpose type powered by Intel Xeon®
	  Platinum 8175M or 8259CL processors (Skylake or Cascade
	  Lake).

	  See https://aws.amazon.com/ec2/instance-types/m5/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_M7A
	bool "M7a"
	depends on TARGET_ARCH_X86_64
	help
	  This is a general purpose type powered by 4th Generation
	  AMD EPYC processors.

	  See https://aws.amazon.com/ec2/instance-types/m7a/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_I4I
	bool "I4i"
	depends on TARGET_ARCH_X86_64
	help
	  This is a storage-optimized type powered by 3rd generation
	  Intel Xeon Scalable processors (Ice Lake) and use AWS Nitro
	  NVMe SSDs.

	  See https://aws.amazon.com/ec2/instance-types/i4i/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_IS4GEN
	bool "Is4gen"
	depends on TARGET_ARCH_ARM64
	help
	  This is a Storage-optimized type powered by AWS Graviton2
	  processors.

	  See https://aws.amazon.com/ec2/instance-types/i4g/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_IM4GN
	bool "Im4gn"
	depends on TARGET_ARCH_ARM64
	help
	  This is a storage-optimized type powered by AWS Graviton2
	  processors.

	  See https://aws.amazon.com/ec2/instance-types/i4g/ for
	  details.

config TERRAFORM_AWS_INSTANCE_TYPE_C7A
	depends on TARGET_ARCH_X86_64
	bool "c7a"
	help
	  This is a compute-optimized type powered by 4th generation
	  AMD EPYC processors.

	  See https://aws.amazon.com/ec2/instance-types/c7a/ for
	  details.

endchoice

source "terraform/aws/kconfigs/instance-types/Kconfig.m5"
source "terraform/aws/kconfigs/instance-types/Kconfig.m7a"
source "terraform/aws/kconfigs/instance-types/Kconfig.i4i"
source "terraform/aws/kconfigs/instance-types/Kconfig.is4gen"
source "terraform/aws/kconfigs/instance-types/Kconfig.im4gn"
source "terraform/aws/kconfigs/instance-types/Kconfig.c7a"

choice
	prompt "Linux distribution"
	default TERRAFORM_AWS_DISTRO_DEBIAN
	help
	  Select a popular Linux distribution to install on your
	  instances, or use the "Custom AMI image" selection to
	  choose an image that is off the beaten path.

config TERRAFORM_AWS_DISTRO_AMAZON
	bool "Amazon Linux"

config TERRAFORM_AWS_DISTRO_DEBIAN
	bool "Debian"

config TERRAFORM_AWS_DISTRO_FEDORA
	bool "Fedora Core"

config TERRAFORM_AWS_DISTRO_RHEL
	bool "Red Hat Enterprise Linux"

config TERRAFORM_AWS_DISTRO_SLES
	bool "Suse Linux Enterprise Server"

config TERRAFORM_AWS_DISTRO_CUSTOM
	bool "Custom AMI image"

endchoice

source "terraform/aws/kconfigs/distros/Kconfig.amazon"
source "terraform/aws/kconfigs/distros/Kconfig.debian"
source "terraform/aws/kconfigs/distros/Kconfig.fedora"
source "terraform/aws/kconfigs/distros/Kconfig.rhel"
source "terraform/aws/kconfigs/distros/Kconfig.sles"
source "terraform/aws/kconfigs/distros/Kconfig.custom"
