CONFIG_ANSIBLE_CFG_CALLBACK_PLUGIN_PROFILE_TASKS=y
CONFIG_ANSIBLE_CFG_FORKS=30
CONFIG_BOOTLINUX_CCACHE_SYSTEM_WIDE=y
CONFIG_BOOTLINUX_CCACHE=y
CONFIG_BOOTLINUX_CLEAN_BEFORE_BUILD=y
CONFIG_BOOTLINUX_REPRODUCIBLE_BUILDS=y
CONFIG_BOOTLINUX_SHALLOW_CLONE_DEPTH=1
CONFIG_BOOTLINUX_SHALLOW_CLONE=y
CONFIG_KDEVOPS_MAKE_VERBOSE=y
