CONFIG_BOOTLINUX_USE_CONFIG_FRAGMENTS=y
CONFIG_BOOTLINUX_FRAGMENT_64BIT=y
CONFIG_BOOTLINUX_FRAGMENT_KVM_GUEST=y
CONFIG_BOOTLINUX_FRAGMENT_VIRTIO_FS=y
CONFIG_BOOTLINUX_FRAGMENT_SYSTEMD=y
CONFIG_BOOTLINUX_FRAGMENT_DISTRO=y
CONFIG_BOOTLINUX_FRAGMENT_STORAGE=y
CONFIG_BOOTLINUX_FRAGMENT_INITRAMFS=y
CONFIG_BOOTLINUX_FRAGMENT_LOCALAUTO=y
CONFIG_BOOTLINUX_FRAGMENT_MODULES=y
CONFIG_BOOTLINUX_FRAGMENT_MODULES_BLK=y
