if TERRAFORM_AWS_DISTRO_SLES

config TERRAFORM_AWS_AMI_OWNER
	string
	output yaml
	default "amazon"

if TARGET_ARCH_X86_64

choice
	prompt "Suse Linux Enterprise Server release"
	default TERRAFORM_AWS_SLES15_SP4_X86_64

config TERRAFORM_AWS_SLES15_SP4_X86_64
	bool "SUSE Linux Enterprise Server 15 SP4 (x86)"

config TERRAFORM_AWS_SLES15_SP5_X86_64
	bool "SUSE Linux Enterprise Server 15 SP5 (x86)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "suse-sles-15-sp4-*x86_64" if TERRAFORM_AWS_SLES15_SP4_X86_64
	default "suse-sles-15-sp5-*x86_64" if TERRAFORM_AWS_SLES15_SP5_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Suse Linux Enterprise Server release"
	default TERRAFORM_AWS_SLES15_SP4_ARM64

config TERRAFORM_AWS_SLES15_SP4_ARM64
	bool "SUSE Linux Enterprise Server 15 SP4 (arm64)"

config TERRAFORM_AWS_SLES15_SP5_ARM64
	bool "SUSE Linux Enterprise Server 15 SP5 (arm64)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "suse-sles-15-sp4-*arm64" if TERRAFORM_AWS_SLE15_SP4_ARM64
	default "suse-sles-15-sp5-*arm64" if TERRAFORM_AWS_SLE15_SP5_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_AWS_DISTRO_SLES
