if TERRAFORM_AWS_DISTRO_RHEL

config TERRAFORM_AWS_AMI_OWNER
	string
	output yaml
	default "amazon"

if TARGET_ARCH_X86_64

choice
	prompt "Red Hat Enterprise Linux release"
	default TERRAFORM_AWS_RHEL9_X86_64

config TERRAFORM_AWS_RHEL8_X86_64
	bool "Red Hat Enterprise Linux 8 (x86)"

config TERRAFORM_AWS_RHEL9_X86_64
	bool "Red Hat Enterprise Linux 9 (x86)"

config TERRAFORM_AWS_RHEL10_X86_64
	bool "Red Hat Enterprise Linux 10 (x86)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "RHEL-8.*x86_64-*" if TERRAFORM_AWS_RHEL8_X86_64
	default "RHEL-9.*x86_64-*" if TERRAFORM_AWS_RHEL9_X86_64
	default "RHEL-10.*x86_64-*" if TERRAFORM_AWS_RHEL10_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Red Hat Enterprise Linux release"
	default TERRAFORM_AWS_RHEL9_ARM64

config TERRAFORM_AWS_RHEL9_ARM64
	bool "Red Hat Enterprise Linux 9 (arm64)"

config TERRAFORM_AWS_RHEL10_ARM64
	bool "Red Hat Enterprise Linux 10 (arm64)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "RHEL-9.*arm64-*" if TERRAFORM_AWS_RHEL9_ARM64
	default "RHEL-10.*arm64-*" if TERRAFORM_AWS_RHEL10_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_AWS_DISTRO_RHEL
