if TERRAFORM_AWS_DISTRO_FEDORA

config TERRAFORM_AWS_AMI_OWNER
	string
	output yaml
	default "125523088429" # Community Platform Engineering

if TARGET_ARCH_X86_64

choice
	prompt "Fedora Core release"
	default TERRAFORM_AWS_FEDORA40_X86_64

config TERRAFORM_AWS_FEDORA40_X86_64
	bool "Fedora 40 (x86_64)"

config TERRAFORM_AWS_FEDORA41_X86_64
	bool "Fedora 41 (x86_64)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "Fedora-Cloud-Base-AmazonEC2.x86_64-40-*" if TERRAFORM_AWS_FEDORA40_X86_64
	default "Fedora-Cloud-Base-AmazonEC2.x86_64-41-*" if TERRAFORM_AWS_FEDORA41_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Fedora Core release"
	default TERRAFORM_AWS_FEDORA40_ARM64

config TERRAFORM_AWS_FEDORA40_ARM64
	bool "Fedora 40 (arm64)"

config TERRAFORM_AWS_FEDORA41_ARM64
	bool "Fedora 41 (arm64"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "Fedora-Cloud-Base-AmazonEC2.aarch64-40-*" if TERRAFORM_AWS_FEDORA40_ARM64
	default "Fedora-Cloud-Base-AmazonEC2.aarch64-41-*" if TERRAFORM_AWS_FEDORA41_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_AWS_DISTRO_FEDORA
