if TERRAFORM_AWS_DISTRO_AMAZON

config TERRAFORM_AWS_AMI_OWNER
	string
	output yaml
	default "amazon"

if TARGET_ARCH_X86_64

choice
	prompt "Amazon Linux release"
	default TERRAFORM_AWS_AMI_AMAZON_X86_64

config TERRAFORM_AWS_AMI_AMAZON_X86_64
	bool "Amazon Linux 2023 (x86)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "al2023-*-x86_64" if TERRAFORM_AWS_AMI_AMAZON_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Amazon Linux release"
	default TERRAFORM_AWS_AMI_AMAZON_ARM64

config TERRAFORM_AWS_AMI_AMAZON_ARM64
	bool "Amazon Linux 2023 (arm64)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "al2023-*-arm64" if TERRAFORM_AWS_AMI_AMAZON_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_AWS_DISTRO_AMAZON
