if TERRAFORM_AWS_DISTRO_DEBIAN

config TERRAFORM_AWS_AMI_OWNER
	string
	output yaml
	default "amazon"

if TARGET_ARCH_X86_64

choice
	prompt "Debian Linux release"
	default TERRAFORM_AWS_NS_DEBIAN_12_X86_64

config TERRAFORM_AWS_NS_DEBIAN_11_X86_64
	bool "Debian 11 Bullseye (x86)"

config TERRAFORM_AWS_NS_DEBIAN_12_X86_64
	bool "Debian 12 Bookworm (x86)"

endchoice

config TERRAFORM_AWS_NS
	string
	output yaml
	default "debian-11-amd64-*" if TERRAFORM_AWS_NS_DEBIAN_11_X86_64
	default "debian-12-amd64-*" if TERRAFORM_AWS_NS_DEBIAN_12_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Debian Linux release"
	default TERRAFORM_AWS_NS_DEBIAN_12_ARM64

config TERRAFORM_AWS_NS_DEBIAN_11_ARM64
	bool "Debian 11 Bullseye (arm64)"

config TERRAFORM_AWS_NS_DEBIAN_12_ARM64
	bool "Debian 12 Bookworm (arm64)"

endchoice

config TERRAFORM_AWS_NS
	string
	default "debian-11-arm64-*" if TERRAFORM_AWS_NS_DEBIAN_11_ARM64
	default "debian-12-arm64-*" if TERRAFORM_AWS_NS_DEBIAN_12_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_AWS_DISTRO_DEBIAN
