#!/bin/bash

export PYTHONPATH="{{ nfstest_install_dir }}"
cd {{ nfstest_install_dir }}/test/

for vers in 3 4.0 4.1 4.2
do
  ./nfstest_posix --runtest=all --createlog --nfsversion=${vers} \
	--server={{ nfstest_nfs_server_host }} \
	--export=/export/{{ nfstest_nfs_server_export }}
done

exit 0
