---
- name: Verify Terraform installation
  ansible.builtin.command: "which terraform"
  register: terraform_present
  changed_when: terraform_present.rc == 1
  failed_when: terraform_present.rc != 0 and terraform_present.rc != 1
  when: terraform_use_terraform|bool
  tags: ["terraform", "verify"]

- name: Verify OpenTofu installation
  ansible.builtin.command: "which tofu"
  register: opentofu_present
  changed_when: opentofu_present.rc == 1
  failed_when: opentofu_present.rc != 0 and opentofu_present.rc != 1
  when: terraform_use_opentofu|bool
  tags: ["terraform", "verify"]

- name: Download Terraform from the latest release and install locally
  become: true
  become_method: sudo
  ansible.builtin.unarchive:
    src: https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: true
  when:
    - terraform_use_terraform|bool
    - force_install_if_present|bool or terraform_present.rc != 0

- name: Download OpenTofu from the latest release and install locally
  become: true
  become_method: sudo
  ansible.builtin.unarchive:
    src: https://github.com/opentofu/opentofu/releases/download/v{{ opentofu_version }}/tofu_{{ opentofu_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: true
  when:
    - terraform_use_opentofu|bool
    - force_install_if_present|bool or opentofu_present.rc != 0
