if TERRAFORM_AZURE

menu "Resource Location"
source "terraform/azure/kconfigs/Kconfig.location"
endmenu
menu "Compute"
source "terraform/azure/kconfigs/Kconfig.compute"
endmenu
menu "Storage"
source "terraform/azure/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/azure/kconfigs/Kconfig.identity"
endmenu

endif # TERRAFORM_AZURE
