if TERRAFORM_AZURE

choice
	prompt "Choose Azure resource location to use"
	default TERRAFORM_AZURE_WEST_US

config TERRAFORM_AZURE_WEST_US
	bool "westus"
	help
	  This option will set the azure resource location to westus.

endchoice

config TERRAFORM_AZURE_RESOURCE_LOCATION
	string "Azure resource location"
	default "westus" if TERRAFORM_AZURE_WEST_US
	help
	  This option will set the azure resource location.

choice
	prompt "Azure vmsize"
	default TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	bool "Standard_DS1_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the azure vm image size to Standard_DS1_v2.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	bool "Standard_DS3_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This option will set the azure vm image size to Standard_DS3_v2.

endchoice

config TERRAFORM_AZURE_VM_SIZE
	string "Azure vm size"
	default "Standard_DS1_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default "Standard_DS3_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	help
	  This option will set the azure vm image size.

choice
	prompt "Azure image publisher"
	default TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

config TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	bool "Debian"
	help
	  This option will set the image publisher to Debian.

endchoice

config TERRAFORM_AZURE_IMAGE_PUBLISHER
	string "The azure image publisher"
	default "Debian" if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	help
	  This option will set path to the image publisher.

if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

choice
	prompt "Azure image offer"
	default TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10 if DISTRO_DEBIAN

config TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10
	bool "debian-10"
	depends on TARGET_ARCH_X86_64
	help
	  This option sets the image offer from credativ to debian-10.

endchoice

if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

choice
	prompt "Azure debian image SKU"
	default TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10

config TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	bool "10"
	help
	  This option sets the image sku to 10.

endchoice

endif # TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

endif

config TERRAFORM_AZURE_IMAGE_OFFER
	string "Azure image offer to use"
	default "debian-10" if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10
	help
	  This option will set image offer. For more debian offers read:

	  https://wiki.debian.org/Cloud/MicrosoftAzure

config TERRAFORM_AZURE_IMAGE_SKU
	string "Azure image SKU"
	default "10" if TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	help
	  This option will set azure image sku to use.

config TERRAFORM_AZURE_IMAGE_VERSION
	string "Azure image version"
	default "latest"
	help
	  This option will set azure image version to use. Its a good idea to
	  use "latest" here.

config TERRAFORM_AZURE_CLIENT_CERT_PATH
	string "Azure client certificate path"
	default "./service-principal.pfx"
	help
	  Path to the service principal PFX file for this application. For
	  details on how to create this and associate it with your account
	  read this:

	  https://www.terraform.io/docs/providers/azurerm/auth/service_principal_client_certificate.html
	  https://github.com/terraform-providers/terraform-provider-azurerm.git

	  But the skinny of of how to create it:

	  openssl req -newkey rsa:4096 -nodes -keyout "service-principal.key" -out "service-principal.csr"
	  openssl x509 -signkey "service-principal.key" -in "service-principal.csr" -req -days 365 -out "service-principal.crt"
	  openssl pkcs12 -export -out "service-principal.pfx" -inkey "service-principal.key" -in "service-principal.crt"

	  Then use the documentation to get your tentant ID, the applicaiton id,
	  the subscription ID.

config TERRAFORM_AZURE_CLIENT_CERT_PASSWD
	string "Azure client certificate password"
	default "some-password"
	help
	  The password to the service principal PFX file.

config TERRAFORM_AZURE_SUBSCRIPTION_ID
	string "Azure subscription ID"
	default "anotherGUID"
	help
	  The subscription ID to use.

config TERRAFORM_AZURE_TENANT_ID
	string "Azure tenant ID"
	default "anotherGUID"
	help
	  The tentant ID to use.

config TERRAFORM_AZURE_APPLICATION_ID
	string "Azure client application ID"
	default "someGUID"
	help
	  The application ID to use.

choice
	prompt "Count of extra managed disks"
	default TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	help
	  The count of managed disks attached to each target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_2
	bool "2"
	help
	  Provision 2 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_3
	bool "3"
	help
	  Provision 3 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	bool "4"
	help
	  Provision 4 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_5
	bool "5"
	help
	  Provision 5 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_6
	bool "6"
	help
	  Provision 6 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_7
	bool "7"
	help
	  Provision 7 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_8
	bool "8"
	help
	  Provision 8 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_9
	bool "9"
	help
	  Provision 9 extra managed disks per target node.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_10
	bool "10"
	help
	  Provision 10 extra managed disks per target node.

endchoice

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE
	int
	output yaml
	default 2 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_2
	default 3 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_3
	default 4 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	default 5 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_5
	default 6 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_6
	default 7 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_7
	default 8 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_8
	default 9 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_9
	default 10 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_10

choice
	prompt "Volume size for each additional volume"
	default TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	help
	  This option selects the size (in gibibytes) of managed
	  disks create for the target nodes.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4G
	bool "4G"
	help
	  Managed disks are 4 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_8G
	bool "8G"
	help
	  Managed disks are 8 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_16G
	bool "16G"
	help
	  Managed disks are 16 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_32G
	bool "32G"
	help
	  Managed disks are 32 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	bool "64G"
	help
	  Managed disks are 64 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_128G
	bool "128G"
	help
	  Managed disks are 128 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_256G
	bool "256G"
	help
	  Managed disks are 256 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_512G
	bool "512G"
	help
	  Managed disks are 512 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_1024G
	bool "1024G"
	help
	  Managed disks are 1024 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_2048G
	bool "2048G"
	help
	  Managed disks are 2048 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4096G
	bool "4096G"
	help
	  Managed disks are 4096 GiB in size.

endchoice

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE
	int
	output yaml
	default 4 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4G
	default 8 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_8G
	default 16 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_16G
	default 32 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_32G
	default 64 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	default 128 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_128G
	default 256 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_256G
	default 512 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_512G
	default 1024 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_1024G
	default 2048 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_2048G
	default 4096 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4096G

config TERRAFORM_AZURE_DATA_VOLUME_DEVICE_FILE_NAME
	string "Device name for the /data file system"
	default "/dev/sdc"
	help
	  This option sets the name of the block device on each target
	  node that is to be used for the /data file system.

endif # TERRAFORM_AZURE
