if TERRAFORM_AZURE

menu "Resource Location"
source "terraform/azure/kconfigs/Kconfig.location.generated"
endmenu
menu "Compute"
comment "Size selection"
source "terraform/azure/kconfigs/Kconfig.size.generated"
comment "OS image selection"
source "terraform/azure/kconfigs/Kconfig.image.generated"
endmenu
menu "Storage"
source "terraform/azure/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/azure/kconfigs/Kconfig.identity"
endmenu

endif # TERRAFORM_AZURE
