---
- name: Import optional extra_args file
  include_vars: "{{ item }}"
  ignore_errors: true
  with_first_found:
    - files:
        - "../extra_vars.yml"
        - "../extra_vars.yaml"
        - "../extra_vars.json"
      skip: true
  tags: vars

- name: Update apt cache
  become: true
  become_method: sudo
  apt:
    update_cache: true
  tags: deps

- name: Install sysbench deps
  become: true
  become_method: sudo
  apt:
    name:
      - docker.io
      - locales
      - rsync
    state: present
    update_cache: true
  tags: ["deps"]
  when: "sysbench_type_mysql_docker|bool"

- name: Install PosgreSQL build deps
  tags: ["deps"]
  become: true
  become_method: sudo
  ansible.builtin.apt:
    name:
      - bison
      - build-essential
      - flex
      - git
      - libicu-dev
      - libreadline-dev
      - pkgconf
      - sysbench
      - zlib1g-dev
    state: present
    update_cache: true
  when: "sysbench_type_postgresql_native|bool"

# acl - Required for running Ansible with unpriviledge user (sysbench_postgresql_user)
# https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
- name: Install PosgreSQL runtime deps
  tags: ["deps"]
  become: true
  become_method: sudo
  ansible.builtin.apt:
    name:
      - acl
      - xfsprogs
      - nvme-cli
    state: present
    update_cache: true
  when: "sysbench_type_postgresql_native|bool"

- name: Install sysbench deps
  tags: ["deps"]
  become: true
  become_method: sudo
  ansible.builtin.apt:
    name:
      - locales
      - rsync
    state: present
    update_cache: true
  when: "sysbench_type_postgresql_native|bool"

- name: Install plot deps
  tags: ["deps"]
  become: true
  become_method: sudo
  delegate_to: localhost
  ansible.builtin.apt:
    name:
      - python3-pandas
      - python3-seaborn
    state: present
    update_cache: true
  when: "sysbench_type_postgresql_native|bool"
