if TERRAFORM_GCE_REGION_US_EAST1

choice
	prompt "GCE zone"
	default TERRAFORM_GCE_ZONE_US_EAST1_B
	help
	  A zone is a deployment area within a region.

config TERRAFORM_GCE_ZONE_US_EAST1_B
	bool "us-east1-b"

config TERRAFORM_GCE_ZONE_US_EAST1_C
	bool "us-east1-c"

config TERRAFORM_GCE_ZONE_US_EAST1_D
	bool "us-east1-d"

endchoice

config TERRAFORM_GCE_ZONE
	string
	output yaml
	default "us-east1-b" if TERRAFORM_GCE_ZONE_US_EAST1_B
	default "us-east1-c" if TERRAFORM_GCE_ZONE_US_EAST1_C
	default "us-east1-d" if TERRAFORM_GCE_ZONE_US_EAST1_D

endif # TERRAFORM_GCE_REGION_US_EAST1
