if TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1

choice
	prompt "GCE zone"
	default TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_B
	help
	  A zone is a deployment area within a region.

config TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_A
	bool "northamerica-northeast1-a"

config TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_B
	bool "northamerica-northeast1-b"

config TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_C
	bool "northamerica-northeast1-c"

endchoice

config TERRAFORM_GCE_ZONE
	string
	output yaml
	default "northamerica-northeast1-a" if TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_A
	default "northamerica-northeast1-b" if TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_B
	default "northamerica-northeast1-c" if TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1_C

endif # TERRAFORM_GCE_REGION_NORTHAMERICA_NORTHEAST1
