if TERRAFORM_GCE_REGION_ASIA_SOUTH2

choice
	prompt "GCE zone"
	default TERRAFORM_GCE_REGION_ASIA_SOUTH2_B
	help
	  A zone is a deployment area within a region.

config TERRAFORM_GCE_REGION_ASIA_SOUTH2_A
	bool "asia-south2-a"

config TERRAFORM_GCE_REGION_ASIA_SOUTH2_B
	bool "asia-south2-b"

config TERRAFORM_GCE_REGION_ASIA_SOUTH2_C
	bool "asia-south2-c"

endchoice

config TERRAFORM_GCE_ZONE
	string
	output yaml
	default "asia-south2-a" if TERRAFORM_GCE_REGION_ASIA_SOUTH2_A
	default "asia-south2-b" if TERRAFORM_GCE_REGION_ASIA_SOUTH2_B
	default "asia-south2-c" if TERRAFORM_GCE_REGION_ASIA_SOUTH2_C

endif # TERRAFORM_GCE_REGION_ASIA_SOUTH2
