if TERRAFORM_GCE_REGION_US_WEST3

choice
	prompt "GCE zone"
	default TERRAFORM_GCE_ZONE_US_WEST3_B
	help
	  A zone is a deployment area within a region.

config TERRAFORM_GCE_ZONE_US_WEST3_A
	bool "us-west3-a"

config TERRAFORM_GCE_ZONE_US_WEST3_B
	bool "us-west3-b"

config TERRAFORM_GCE_ZONE_US_WEST3_C
	bool "us-west3-c"

endchoice

config TERRAFORM_GCE_ZONE
	string
	output yaml
	default "us-west3-a" if TERRAFORM_GCE_ZONE_US_WEST3_A
	default "us-west3-b" if TERRAFORM_GCE_ZONE_US_WEST3_B
	default "us-west3-c" if TERRAFORM_GCE_ZONE_US_WEST3_C

endif # TERRAFORM_GCE_REGION_US_WEST3
