CONFIG_ACPI=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_AIO=y
CONFIG_ALLOW_DEV_COREDUMP=y
CONFIG_ARM_ARCH_TIMER_EVTSTREAM=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_MISC=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BUG=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CMA_SYSFS=y
CONFIG_CMA=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_COREDUMP=y # Required by CONFIG_ELF_CORE
CONFIG_CPU_ISOLATION=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_DEBUG_MISC=y
CONFIG_DEVMEM=y
CONFIG_DEVTMPFS=y
CONFIG_E1000E=y
CONFIG_E1000=y
CONFIG_ELF_CORE=y
CONFIG_ETHERNET=y
CONFIG_EXPERT=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_FAT_FS=y
CONFIG_FILE_LOCKING=y # Required for CONFIG_NFSD
CONFIG_FS_STACK=y
CONFIG_FUSE_DAX=y
CONFIG_FUSE_IO_URING=y
CONFIG_FUSE_PASSTHROUGH=y
CONFIG_FUTEX=y
CONFIG_FW_LOADER=y
CONFIG_GUP_TEST=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HOTPLUG_CPU=y
CONFIG_HWMON=y
CONFIG_HW_RANDOM=y
CONFIG_INPUT=y
CONFIG_IOMMU_SUPPORT=y
CONFIG_KALLSYMS=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MEMBARRIER=y
CONFIG_MEMCG=y
CONFIG_MIGRATION=y
CONFIG_MSDOS_FS=y
CONFIG_NET_9P_FD=y
CONFIG_NETFILTER=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_NFSD=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS=y
CONFIG_NTFS_FS=y
CONFIG_PACKET=y
CONFIG_POSIX_TIMERS=y
CONFIG_PRINTK_TIME=y
CONFIG_PRINTK=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_PROC_SYSCTL=y
CONFIG_QUOTA=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SHMEM=y
CONFIG_SIGNALFD=y
CONFIG_SMP=y
CONFIG_SYN_COOKIES=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_SYSFS_SYSCALL=y
CONFIG_SYSFS=y
CONFIG_SYSVIPC=y
CONFIG_TIMERFD=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_UNIX_DIAG=y
CONFIG_USB_SUPPORT=y
CONFIG_VFAT_FS=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VT=y
CONFIG_XFS_SUPPORT_ASCII_CI=y
CONFIG_ZONE_DMA=y
