# eBPF
# DOCS:
# https://github.com/iovisor/bcc/blob/master/docs/kernel_config.md
# https://github.com/iovisor/bcc/blob/master/INSTALL.md#kernel-configuration
CONFIG_BPF=y
CONFIG_BPFILTER=y
CONFIG_BPFILTER_UMH=y
CONFIG_BPF_EVENTS=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_LIRC_MODE2=y
CONFIG_BPF_LSM=y
CONFIG_BPF_STREAM_PARSER=y
CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=y
CONFIG_DEBUG_INFO_BTF=y # macos sdk error
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_DUMMY=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_FTRACE=y # Required by CONFIG_BPF_EVENTS
CONFIG_FTRACE_SYSCALLS=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_FUNCTION_TRACER=y
CONFIG_IKHEADERS=y
CONFIG_IPV6_SEG6_LWTUNNEL=y
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y # Required by CONFIG_BPF_EVENTS
CONFIG_LIRC=y
CONFIG_LWTUNNEL_BPF=y
CONFIG_MODULES=y # Required by CONFIG_BPF_JIT
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_MATCH_BPF=y
CONFIG_NET_ACT_BPF=y
CONFIG_NET_ACT_GACT=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_CLS_ACT=y
CONFIG_NET_CLS_BPF=y
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_SFQ=y
CONFIG_PERF_EVENTS=y # Required by CONFIG_BPF_EVENTS
CONFIG_PROFILING=y
CONFIG_RC_CORE=y
CONFIG_SECURITY=y
CONFIG_STACK_TRACER=y
CONFIG_UPROBE_EVENTS=y # Required by CONFIG_BPF_EVENTS
CONFIG_VXLAN=y
CONFIG_NET=y # Required by CONFIG_BPFILTER and CONFIG_IPV6_SEG6_LWTUNNEL
CONFIG_INET=y # Required by CONFIG_BPFILTER and CONFIG_IPV6_SEG6_LWTUNNEL
CONFIG_RC_CORE=y # Required by CONFIG_BPF_LIRC_MODE2
CONFIG_LIRC=y # Required by CONFIG_BPF_LIRC_MODE2
CONFIG_INPUT=y # Required by CONFIG_BPF_LIRC_MODE2
CONFIG_SECURITY=y # Required by BPF_LSM
CONFIG_SYSFS=y # Required by CONFIG_SECURITY and CONFIG_IKHEADERS
CONFIG_MULTIUSER=y # Required by CONFIG_SECURITY
CONFIG_CGROUPS=y # Required by CONFIG_CGROUP_BPF
CONFIG_DEBUG_INFO=y # Required by CONFIG_DEBUG_INFO_BTF
CONFIG_DEBUG_INFO_SPLIT=n # Required by CONFIG_DEBUG_INFO_BTF
CONFIG_DEBUG_INFO_REDUCED=n # Required by CONFIG_DEBUG_INFO_BTF
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y # Required by CONFIG_DEBUG_INFO_BTF (CONFIG_DEBUG_INFO_DWARF5)
CONFIG_NETDEVICES=y # Required by CONFIG_DUMMY
CONFIG_NET_CORE=y # Required by CONFIG_DUMMY
