# systemd
# DOCS: https://github.com/systemd/systemd/blob/main/README
CONFIG_AUDIT=n
CONFIG_AUTOFS_FS=y
CONFIG_SCSI=y # Required by CONFIG_BLK_DEV_BSG
CONFIG_BLK_DEV_BSG=y
#CONFIG_BPF=y
#CONFIG_MODULES=y # Required by CONFIG_BPF_JIT
#CONFIG_BPF_JIT=y
#CONFIG_PERF_EVENTS=y # Required by CONFIG_BPF_EVENTS
#CONFIG_UPROBE_EVENTS=y # Required by CONFIG_BPF_EVENTS
#CONFIG_KPROBE_EVENTS=y # Required by CONFIG_BPF_EVENTS
#CONFIG_FTRACE=y # Required by CONFIG_BPF_EVENTS
#CONFIG_BPF_EVENTS=y
#CONFIG_BPF_LSM=y
#CONFIG_BPF_SYSCALL=y
CONFIG_BTRFS_FS=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CGROUPS=y
#CONFIG_CGROUP_BPF=y
CONFIG_CGROUP_SCHED=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y # Required by CONFIG_DEBUG_INFO
CONFIG_DEBUG_INFO=y # Required for CONFIG_DEBUG_INFO_BTF
#CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEVTMPFS=y
CONFIG_DMI=y # Required by CONFIG_DMIID
CONFIG_DMIID=y
CONFIG_SECONDARY_TRUSTED_KEYRING=y # Required by CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG_SECONDARY_KEYRING
CONFIG_BLK_DEV_DM=y # Required by CONFIG_DM_VERITY
CONFIG_MD=y # Required by CONFIG_DM_VERITY
CONFIG_DM_VERITY=y # Required by CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG=y
CONFIG_DM_VERITY_VERIFY_ROOTHASH_SIG_SECONDARY_KEYRING=y
CONFIG_EFI=y # Required for CONFIG_EFIVAR_FS
CONFIG_EFIVAR_FS=y
CONFIG_EFI_PARTITION=y
CONFIG_EPOLL=y
CONFIG_EXT4_FS=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_FHANDLE=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_FS_POSIX_ACL=y
CONFIG_EXT4_FS_POSIX_ACL=y # Selects FS_POSIX_ACL
CONFIG_XFS_POSIX_ACL=y # Selects FS_POSIX_ACL
CONFIG_BTRFS_FS_POSIX_ACL=y # Selects FS_POSIX_ACL
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_HAVE_EBPF_JIT=y
CONFIG_INTEGRITY_SIGNATURE=y # Required for CONFIG_INTEGRITY_ASYMMETRIC_KEYS
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y # Required for CONFIG_IMA_ARCH_POLICY
CONFIG_SECURITY=y # Required for CONFIG_INTEGRITY
CONFIG_INTEGRITY=y
CONFIG_IMA=y # Required by CONFIG_IMA_ARCH_POLICY
CONFIG_IMA_APPRAISE=y # Required by CONFIG_IMA_ARCH_POLICY
CONFIG_IMA_ARCH_POLICY=y
CONFIG_INOTIFY_USER=y
#CONFIG_INTEGRITY_MACHINE_KEYRING=y
CONFIG_IPV6=y
CONFIG_KCMP=y
CONFIG_NET=y
CONFIG_NET_NS=y
CONFIG_PROC_FS=y
CONFIG_PSI=y
CONFIG_RT_GROUP_SCHED=n
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_SIGNALFD=y
CONFIG_SYSFS=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_TIMERFD=y
CONFIG_SHMEM=y # Required for CONFIG_TMPFS
CONFIG_TMPFS=y
CONFIG_TMPFS_XATTR=y
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_UNIX=y
CONFIG_MULTIUSER=y # Required for CONFIG_NAMESPACES
CONFIG_NAMESPACES=y # Required for CONFIG_USER_NS
CONFIG_USER_NS=y
CONFIG_XFS_FS=y
