#CONFIG_VIRTIO_MMIO=y
# virtio-fs
# DOCS: https://virtio-fs.gitlab.io/howto-qemu.html
CONFIG_DAX=y
#CONFIG_DAX_DRIVER=y # Deprecated by afd586f0d06c ("dax: remove CONFIG_DAX_DRIVER")
CONFIG_FS_DAX=y
CONFIG_FUSE_FS=y # Required for VIRTIO_FS
CONFIG_MEMORY_HOTPLUG=y # Required by CONFIG_ZONE_DEVICE
CONFIG_MEMORY_HOTREMOVE=y # Required by CONFIG_ZONE_DEVICE
CONFIG_SPARSEMEM_VMEMMAP=y # Required by CONFIG_ZONE_DEVICE
CONFIG_MIGRATION=y # Required for CONFIG_MEMORY_HOTREMOVE=y
CONFIG_MMU=y # Required by CONFIG_FS_DAX
CONFIG_VIRTIO=y
CONFIG_VIRTIO_FS=y
CONFIG_ZONE_DEVICE=y # Required by CONFIG_FS_DAX
