[all]
{{ kdevops_hosts_prefix }}-builder
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"

[baseline]
{{ kdevops_hosts_prefix }}-builder
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"

[dev]
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
