[all]
localhost ansible_connection=local
{{ kdevops_host_prefix }}-fio-tests
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-fio-tests-dev
{% endif %}
[all:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
[baseline]
{{ kdevops_host_prefix }}-fio-tests
[baseline:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
[dev]
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-fio-tests-dev
{% endif %}
[dev:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
[fio_tests]
{{ kdevops_host_prefix }}-fio-tests
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-fio-tests-dev
{% endif %}
[fio_tests:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
[service]
[service:vars]
ansible_python_interpreter = "{{ kdevops_python_interpreter }}"
