[all]
localhost ansible_connection=local
{{ kdevops_hosts_prefix }}-nfsd
[all:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[baseline]
{{ kdevops_hosts_prefix }}-nfsd
[baseline:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[dev]
{% if kdevops_baseline_and_dev %}
{{ kdevops_host_prefix }}-nfsd-dev
{% endif %}
[dev:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% if kdevops_enable_iscsi %}
[iscsi]
{{ kdevops_hosts_prefix }}-iscsi
[iscsi:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
{% endif %}
[nfsd]
{{ kdevops_hosts_prefix }}-nfsd
[nfsd:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
[service]
{% if kdevops_enable_iscsi %}
{{ kdevops_hosts_prefix }}-iscsi
{% endif %}
{{ kdevops_hosts_prefix }}-nfsd
[service:vars]
ansible_python_interpreter =  "{{ kdevops_python_interpreter }}"
