if TERRAFORM_GCE

menu "Resource Location"
source "terraform/gce/kconfigs/Kconfig.location"
endmenu
menu "Compute"
source "terraform/gce/kconfigs/Kconfig.compute"
endmenu
menu "Storage"
source "terraform/gce/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/gce/kconfigs/Kconfig.identity"
endmenu

endif # TERRAFORM_GCE
