if TERRAFORM_GCE

menu "Resource Location"
source "terraform/gce/kconfigs/Kconfig.location"
endmenu
menu "Compute"
comment "Machine selection"
source "terraform/gce/kconfigs/Kconfig.machine"
comment "OS image selection"
source "terraform/gce/kconfigs/Kconfig.image"
endmenu
menu "Storage"
source "terraform/gce/kconfigs/Kconfig.storage"
endmenu
menu "Identity & Access"
source "terraform/gce/kconfigs/Kconfig.identity"
endmenu

endif # TERRAFORM_GCE
