---
- name: Install guestfs dependencies on the Ansible controller
  tags:
    - install-deps
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/install-deps/main.yml"

- name: Ensure a storage pool for guestfs exists
  tags:
    - pool
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/bringup/storage-pool-path.yml"

- name: Ensure libvirt networking has started
  tags:
    - network
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/bringup/network.yml"

- name: Set the pathname of storage pool directory
  tags:
    - base_image
    - bringup
  ansible.builtin.set_fact:
    storagedir: "{{ kdevops_storage_pool_path }}/guestfs"
  delegate_to: localhost

- name: Set the pathname of the OS base image
  tags:
    - base_image
    - bringup
  ansible.builtin.set_fact:
    base_image: "{{ storagedir }}/base_images/{{ virtbuilder_os_version }}.raw"
  when:
    - not guestfs_has_custom_raw_image|bool
  delegate_to: localhost

- name: Set the pathname of the custom OS base image
  tags:
    - base_image
    - bringup
  ansible.builtin.set_fact:
    base_image: "{{ storagedir }}/custom_images/{{ virtbuilder_os_version }}/{{ virtbuilder_os_version }}.raw"
  when:
    - guestfs_has_custom_raw_image|bool
  delegate_to: localhost

- name: Ensure the required base OS image exists
  tags:
    - base_image
  ansible.builtin.import_role:
    name: base_image
  vars:
    base_image_os_version: "{{ virtbuilder_os_version }}"
    base_image_pathname: "{{ base_image }}"
  delegate_to: localhost

- name: Bring up each target node
  tags:
    - bringup
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/bringup/main.yml"
  delegate_to: localhost

- name: Set up target node console permissions
  tags:
    - console
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/bringup/console-permissions.yml"
  when:
    - libvirt_uri_system|bool
  delegate_to: localhost

- name: Shut down and destroy each target node
  tags:
    - destroy
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/destroy.yml"
  delegate_to: localhost

- name: Status VM tasks
  tags:
    - status
  ansible.builtin.import_tasks:
    file: "{{ role_path }}/tasks/status/main.yml"
  delegate_to: localhost
