Host {{ item.key }} {{ item.value }}
	HostName {{ item.value }}
	User {{ kdevops_terraform_ssh_config_user }}
	Port {{ ansible_cfg_ssh_port }}
	IdentityFile {{ kdevops_terraform_ssh_config_privkey_file }}
{% if ssh_config_kexalgorithms %}
	KexAlgorithms {{ ssh_config_kexalgorithms }}
{% endif %}
{% if kdevops_terraform_ssh_config_update_strict %}
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no
	PasswordAuthentication no
	IdentitiesOnly yes
	LogLevel FATAL
{% endif %}
