---
- name: Enable the CodeReady repo
  ansible.builtin.include_role:
    name: codereadyrepo

- name: Install build dependencies for pynfs
  become: true
  become_method: sudo
  yum:
    update_cache: true
    name: "{{ packages }}"
  retries: 3
  delay: 5
  register: result
  until: result is succeeded
  vars:
    packages:
      - gcc
      - git-core
      - make
      - krb5-devel
      - python3-devel
      - swig
      - python3-gssapi
      - python3-ply

- name: Install xdrlib3
  ansible.builtin.pip:
    name: xdrlib3
