choice
	prompt "Count of extra block volumes"
	default TERRAFORM_OCI_VOLUMES_PER_INSTANCE_2
	help
	  The count of extra block devices attached to each
	  instance.

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_0
	bool "0"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_1
	bool "1"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_2
	bool "2"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_3
	bool "3"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_4
	bool "4"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_5
	bool "5"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_6
	bool "6"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_7
	bool "7"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_8
	bool "8"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_9
	bool "9"

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE_10
	bool "10"

endchoice

config TERRAFORM_OCI_VOLUMES_PER_INSTANCE
	int
	output yaml
	default 0 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_0
	default 1 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_1
	default 2 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_2
	default 3 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_3
	default 4 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_4
	default 5 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_5
	default 6 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_6
	default 7 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_7
	default 8 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_8
	default 9 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_9
	default 10 if TERRAFORM_OCI_VOLUMES_PER_INSTANCE_10

choice
	prompt "Volume size for each additional volume"
	default TERRAFORM_OCI_VOLUMES_SIZE_128G
	help
	  OCI implements volume sizes between 50G and 32T. In some
	  cases, 50G volumes are in the free tier.

config TERRAFORM_OCI_VOLUMES_SIZE_50G
	bool "50G"
	help
	  Extra block volumes are 50 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_64G
	bool "64G"
	help
	  Extra block volumes are 64 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_128G
	bool "128G"
	help
	  Extra block volumes are 128 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_256G
	bool "256G"
	help
	  Extra block volumes are 256 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_512G
	bool "512G"
	help
	  Extra block volumes are 512 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_1024G
	bool "1024G"
	help
	  Extra block volumes are 1024 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_2048G
	bool "2048G"
	help
	  Extra block volumes are 2048 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_4096G
	bool "4096G"
	help
	  Extra block volumes are 4096 GiB in size.

config TERRAFORM_OCI_VOLUMES_SIZE_8192G
	bool "8192G"
	help
	  Extra block volumes are 8192 GiB in size.

endchoice

config TERRAFORM_OCI_VOLUMES_SIZE
	int
	output yaml
	default 50 if TERRAFORM_OCI_VOLUMES_SIZE_50G
	default 64 if TERRAFORM_OCI_VOLUMES_SIZE_64G
	default 128 if TERRAFORM_OCI_VOLUMES_SIZE_128G
	default 256 if TERRAFORM_OCI_VOLUMES_SIZE_256G
	default 512 if TERRAFORM_OCI_VOLUMES_SIZE_512G
	default 1024 if TERRAFORM_OCI_VOLUMES_SIZE_1024G
	default 2048 if TERRAFORM_OCI_VOLUMES_SIZE_2048G
	default 4096 if TERRAFORM_OCI_VOLUMES_SIZE_4096G
	default 8192 if TERRAFORM_OCI_VOLUMES_SIZE_8192G

config TERRAFORM_OCI_DATA_VOLUME_DEVICE_FILE_NAME
	string "Data volume's device file name"
	output yaml
	default "/dev/oracleoci/oraclevdb"
	help
	  Data volume's device file name

config TERRAFORM_OCI_SPARSE_VOLUME_DEVICE_FILE_NAME
	string "Sparse volume's device file name"
	output yaml
	default "/dev/oracleoci/oraclevdc"
	help
	  Sparse volume's device file name
