choice
	prompt "OCI Region"
	default TERRAFORM_OCI_REGION_ORD
	help
	  A region is a collection of geographically co-located data
	  centers that share data and hardware resources. For more
	  information:

	  https://docs.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm

	  Using this menu, select the region in which you wish to
	  deploy your kdevops resources. Your tenancy must be
	  subscribed to the region you select here. Use:

	    $ oci iam region-subscription list

	  for a list of regions to which your tenancy subscribes.

config TERRAFORM_OCI_REGION_HYD
	bool "India South (Hyderabad)"

config TERRAFORM_OCI_REGION_BOM
	bool "India West (Mumbai)"

config TERRAFORM_OCI_REGION_YUL
	bool "Canada Southeast (Montreal)"

config TERRAFORM_OCI_REGION_YYZ
	bool "Canada Southeast (Toronto)"

config TERRAFORM_OCI_REGION_IAD
	bool "US East (Ashburn)"

config TERRAFORM_OCI_REGION_ORD
	bool "US Midwest (Chicago)"

config TERRAFORM_OCI_REGION_PHX
	bool "US West (Phoenix)"

config TERRAFORM_OCI_REGION_SJC
	bool "US West (San Jose)"

endchoice

if TERRAFORM_OCI_REGION_HYD

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "ap-hyderabad-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_HYD_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_HYD_AD1
	bool "1"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_HYD_1_AD1

endif # TERRAFORM_OCI_REGION_HYD_1

if TERRAFORM_OCI_REGION_BOM

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "ap-mumbai-1"
choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_BOM_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_BOM_AD1
	bool "1"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_BOM_AD1

endif # TERRAFORM_OCI_REGION_BOM

if TERRAFORM_OCI_REGION_YUL

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "ca-montreal-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_YUL_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_YUL_AD1
	bool "1"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_YUL_AD1

endif # TERRAFORM_OCI_REGION_YUL

if TERRAFORM_OCI_REGION_YYZ

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "ca-toronto-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_YYZ_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_YYZ_AD1
	bool "1"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_YYZ_AD1

endif # TERRAFORM_OCI_REGION_YYZ

if TERRAFORM_OCI_REGION_IAD

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "us-ashburn-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_IAD_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_IAD_AD1
	bool "1"

config TERRAFORM_OCI_REGION_IAD_AD2
	bool "2"

config TERRAFORM_OCI_REGION_IAD_AD3
	bool "3"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_IAD_AD1
	default 2 if TERRAFORM_OCI_REGION_IAD_AD2
	default 3 if TERRAFORM_OCI_REGION_IAD_AD3

endif # TERRAFORM_OCI_REGION_IAD

if TERRAFORM_OCI_REGION_ORD

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "us-chicago-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_ORD_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_ORD_AD1
	bool "1"

config TERRAFORM_OCI_REGION_ORD_AD2
	bool "2"

config TERRAFORM_OCI_REGION_ORD_AD3
	bool "3"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_ORD_AD1
	default 2 if TERRAFORM_OCI_REGION_ORD_AD2
	default 3 if TERRAFORM_OCI_REGION_ORD_AD3

endif # TERRAFORM_OCI_REGION_ORD

if TERRAFORM_OCI_REGION_PHX

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "us-phoenix-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_PHX_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_PHX_AD1
	bool "1"

config TERRAFORM_OCI_REGION_PHX_AD2
	bool "2"

config TERRAFORM_OCI_REGION_PHX_AD3
	bool "3"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_PHX_AD1
	default 2 if TERRAFORM_OCI_REGION_PHX_AD2
	default 3 if TERRAFORM_OCI_REGION_PHX_AD3

endif # TERRAFORM_OCI_REGION_PHX

if TERRAFORM_OCI_REGION_SJC

config TERRAFORM_OCI_REGION
	string
	output yaml
	default "us-sanjose-1"

choice
	prompt "Availability Domain"
	default TERRAFORM_OCI_REGION_SJC_AD1
	help
	  The number of the Availability Domain. This number
	  corresponds to the integer at the end of the Availability
	  Domain name.

	  The OCI Fault Domain is chosen automatically.

config TERRAFORM_OCI_REGION_SJC_AD1
	bool "1"

endchoice

config TERRAFORM_OCI_AD_NUMBER
	int
	output yaml
	default 1 if TERRAFORM_OCI_REGION_SJC_AD1

endif # TERRAFORM_OCI_REGION_SJC

config TERRAFORM_OCI_COMPARTMENT_NAME
	string "OCI compartment name"
	output yaml
	help
	  The compartment name where your instances are to be created.
