config TERRAFORM_OCI_TENANCY_OCID
	string "OCI tenant OCID"
	help
	  The OCI ID of the tenancy to use.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm

config TERRAFORM_OCI_USER_OCID
	string "OCI user OCID"
	help
	  The OCI ID of the user to use.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm

config TERRAFORM_OCI_USER_PRIVATE_KEY_PATH
	string "OCI user private key path"
	help
	  Path to the file containing the private key of the user.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm

config TERRAFORM_OCI_USER_FINGERPRINT
	string "OCI user fingerprint"
	help
	  Fingerprint for the key pair being used.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm
