config TERRAFORM_OCI_ASSIGN_PUBLIC_IP
	bool "Assign public IP address to each instance"
	output yaml
	default y
	help
	  Enable this setting if a public IP address should be
	  assigned to each instance. Leave it unset to prevent your
	  instances from being accessible on the public internet.

config TERRAFORM_OCI_SUBNET_OCID
	string "OCI Subnet OCID"
	help
	  The OCI ID of the subnet.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm
