config TERRAFORM_OCI_TENANCY_OCID
	string "OCI tenant OCID"
	help
	  The OCI ID of the tenancy to use.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm

config TERRAFORM_OCI_CONFIG_FILE_PROFILE
	string "Authentication profile entry"
	output yaml
	default "DEFAULT"
	help
	  Authentication secrets are stored in ~/.oci/config. That
	  file may contain more than one entry/identity. Select the
	  entry in ~/.oci/config that kdevops uses to
	  authenticate to OCI. Examples:

	  https://docs.oracle.com/en-us/iaas/Content/API/Concepts/sdkconfig.htm
