source "terraform/oci/kconfigs/shapes/Kconfig.flex"

config TERRAFORM_OCI_OS_IMAGE_OCID
	string "OCI OS image OCID"
	help
	  The OCI ID of the OS image to use.
	  Read this:
	  https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm
