---
- name: Debian-specific setup
  ansible.builtin.import_tasks: debian/main.yml
  when:
    - distro_debian_based|bool

- name: SuSE-specific setup
  ansible.builtin.import_tasks: suse/main.yml
  when:
    - distro_suse_based|bool

- name: Red Hat-specific setup
  ansible.builtin.import_tasks: redhat/main.yml
  when:
    - distro_redhat_based|bool
