choice
	prompt "Azure image publisher"
	default TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	help
	  This option specifies the publisher of the boot image used to
	  create the kdevops target nodes.

config TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	bool "Debian"
	help
	  This option sets the boot image publisher to "Debian".

config TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT
	bool "Red Hat"
	help
	  This option sets the boot image publisher to "RedHat".

endchoice

config TERRAFORM_AZURE_IMAGE_PUBLISHER
	string
	output yaml
	default "Debian" if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	default "RedHat" if TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT

if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

if TARGET_ARCH_X86_64

choice
	prompt "Debian release"
	default TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_11
	help
	  This option specifies which of a publisher's offers to use
	  when creating kdevops compute instances.

config TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_10
	bool "debian-10 (x86)"
	help
	  This option sets the OS image to Debian 10 (Buster).

config TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_11
	bool "debian-11 (x86)"
	help
	  This option sets the OS image to Debian 11 (Bullseye).

config TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_12
	bool "debian-12 (x86)"
	help
	  This option sets the OS image to Debian 12 (Bookworm).

config TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_13_DAILY
	bool "debian-13-daily (x86)"
	help
	  This option sets the OS image to Debian 13's daily build.

config TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_SID_DAILY
	bool "debian-sid-daily (x86)"
	help
	  This option sets the OS image to the Debian unstable daily
	  build.

endchoice

config TERRAFORM_AZURE_IMAGE_OFFER
	string
	output yaml
	default "debian-10" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_10
	default "debian-11" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_11
	default "debian-12" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_12
	default "debian-13-daily" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_13_DAILY
	default "debian-sid-daily" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_SID_DAILY

config TERRAFORM_AZURE_IMAGE_SKU
	string
	output yaml
	default "10" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_10
	default "11" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_11
	default "12" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_12
	default "13" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_13_DAILY
	default "sid" if TERRAFORM_AZURE_IMAGE_LINUX_DEBIAN_SID_DAILY

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

if TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT

if TARGET_ARCH_X86_64

choice
	prompt "Red Hat Enterprise Linux release"
	default TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6
	help
	  This option specifies which of a publisher's offers to use
	  when creating kdevops compute instances.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	bool "RHEL 7.9 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 7 update 9.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	bool "RHEL 8.9 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 8 update 9.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	bool "RHEL 8.10 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 8 update 10.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	bool "RHEL 9.5 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 9 update 5.

config TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6
	bool "RHEL 9.6 x64"
	help
	  This option sets the OS image to Red Hat Enterprise Linux
	  release 9 update 6.

endchoice

config TERRAFORM_AZURE_IMAGE_OFFER
	string
	output yaml
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	default "RHEL" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6

config TERRAFORM_AZURE_IMAGE_SKU
	string
	output yaml
	default "7_9" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_7_9
	default "8_9" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_9
	default "8_10" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_8_10
	default "9_5" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_5
	default "9_6" if TERRAFORM_AZURE_IMAGE_LINUX_RHEL_9_6

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_AZURE_IMAGE_PUBLISHER_REDHAT
