choice
	prompt "Azure vmsize"
	default TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	help
	  This option chooses the size of the virtual machine instances
	  to be created for the kdevops target nodes.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	bool "Standard_DS1_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has one vCPU and 3.5GB of memory.
	  Azure documentation notes that this size is part of a
	  previous generation series, and is to become unavailable
	  after May 1, 2028.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	bool "Standard_DS3_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 14GB of memory.
	  Azure documentation notes that this size is part of a
	  previous generation series, and is to become unavailable
	  after May 1, 2028.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V3
	bool "Standard_D2s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V3
	bool "Standard_D4s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V3
	bool "Standard_D8s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V4
	bool "Standard_D2s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V4
	bool "Standard_D4s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V4
	bool "Standard_D8s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V6
	bool "Standard_D2s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V6
	bool "Standard_D4s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V6
	bool "Standard_D8s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

endchoice

config TERRAFORM_AZURE_VM_SIZE
	string
	output yaml
	default "Standard_DS1_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default "Standard_DS3_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	default "Standard_D2s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V3
	default "Standard_D4s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V3
	default "Standard_D8s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V3
	default "Standard_D2s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V4
	default "Standard_D4s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V4
	default "Standard_D8s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V4
	default "Standard_D2s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V6
	default "Standard_D4s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V6
	default "Standard_D8s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V6

choice
	prompt "Azure image publisher"
	default TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

config TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN
	bool "Debian"
	help
	  This option will set the image publisher to Debian.

endchoice

config TERRAFORM_AZURE_IMAGE_PUBLISHER
	string
	output yaml
	default "Debian" if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

if TERRAFORM_AZURE_IMAGE_PUBLISHER_DEBIAN

choice
	prompt "Azure image offer"
	default TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10 if DISTRO_DEBIAN

config TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10
	bool "debian-10"
	depends on TARGET_ARCH_X86_64
	help
	  This option sets the image offer from credativ to debian-10.

endchoice

if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

choice
	prompt "Azure debian image SKU"
	default TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10

config TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	bool "10"
	help
	  This option sets the image sku to 10.

endchoice

endif # TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

endif

config TERRAFORM_AZURE_IMAGE_OFFER
	string
	output yaml
	default "debian-10" if TERRAFORM_AZURE_IMAGE_OFFER_DEBIAN_10

config TERRAFORM_AZURE_IMAGE_SKU
	string "Azure image SKU"
	output yaml
	default "10" if TERRAFORM_AZURE_IMAGE_DEBIAN_SKU_10
	help
	  This option will set azure image sku to use.

config TERRAFORM_AZURE_IMAGE_VERSION
	string "Azure image version"
	default "latest"
	help
	  This option will set azure image version to use. Its a good idea to
	  use "latest" here.
