choice
	prompt "Choose Azure resource location to use"
	default TERRAFORM_AZURE_WEST_US

config TERRAFORM_AZURE_WEST_US
	bool "westus"
	help
	  This option will set the azure resource location to westus.

endchoice

config TERRAFORM_AZURE_LOCATION
	string
	output yaml
	default "westus" if TERRAFORM_AZURE_WEST_US
	help
	  This option will set the azure resource location.
