choice
	prompt "Count of extra managed disks"
	default TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	help
	  The count of managed disks attached to each instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_0
	bool "0"
	help
	  Provision no extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_1
	bool "1"
	help
	  Provision 1 extra managed disk per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_2
	bool "2"
	help
	  Provision 2 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_3
	bool "3"
	help
	  Provision 3 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	bool "4"
	help
	  Provision 4 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_5
	bool "5"
	help
	  Provision 5 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_6
	bool "6"
	help
	  Provision 6 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_7
	bool "7"
	help
	  Provision 7 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_8
	bool "8"
	help
	  Provision 8 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_9
	bool "9"
	help
	  Provision 9 extra managed disks per instance.

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_10
	bool "10"
	help
	  Provision 10 extra managed disks per instance.

endchoice

config TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE
	int
	output yaml
	default 1 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_1
	default 2 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_2
	default 3 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_3
	default 4 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_4
	default 5 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_5
	default 6 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_6
	default 7 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_7
	default 8 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_8
	default 9 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_9
	default 10 if TERRAFORM_AZURE_MANAGED_DISKS_PER_INSTANCE_10

choice
	prompt "Volume size for each additional volume"
	default TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	help
	  This option selects the size (in gibibytes) of managed
	  disks create for each instance.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4G
	bool "4G"
	help
	  Managed disks are 4 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_8G
	bool "8G"
	help
	  Managed disks are 8 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_16G
	bool "16G"
	help
	  Managed disks are 16 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_32G
	bool "32G"
	help
	  Managed disks are 32 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	bool "64G"
	help
	  Managed disks are 64 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_128G
	bool "128G"
	help
	  Managed disks are 128 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_256G
	bool "256G"
	help
	  Managed disks are 256 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_512G
	bool "512G"
	help
	  Managed disks are 512 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_1024G
	bool "1024G"
	help
	  Managed disks are 1024 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_2048G
	bool "2048G"
	help
	  Managed disks are 2048 GiB in size.

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4096G
	bool "4096G"
	help
	  Managed disks are 4096 GiB in size.

endchoice

config TERRAFORM_AZURE_MANAGED_DISKS_SIZE
	int
	output yaml
	default 4 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4G
	default 8 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_8G
	default 16 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_16G
	default 32 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_32G
	default 64 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_64G
	default 128 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_128G
	default 256 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_256G
	default 512 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_512G
	default 1024 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_1024G
	default 2048 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_2048G
	default 4096 if TERRAFORM_AZURE_MANAGED_DISKS_SIZE_4096G

choice
	prompt "Performance tier for each managed disk"
	default TERRAFORM_AZURE_MANAGED_DISKS_TIER_P20
	help
	  The performance tier determines the maximum IOPS
	  and throughput each managed disk can handle.

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P1
	bool "P1"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P2
	bool "P2"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P3
	bool "P3"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P4
	bool "P4"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P6
	bool "P6"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P10
	bool "P10"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P15
	bool "P15"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P20
	bool "P20"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P30
	bool "P30"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P40
	bool "P40"

config TERRAFORM_AZURE_MANAGED_DISKS_TIER_P50
	bool "P50"

endchoice

config TERRAFORM_AZURE_MANAGED_DISKS_TIER
	string
	output yaml
	default "P1" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P1
	default "P2" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P2
	default "P3" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P3
	default "P4" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P4
	default "P6" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P6
	default "P10" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P10
	default "P15" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P15
	default "P20" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P20
	default "P30" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P30
	default "P40" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P40
	default "P50" if TERRAFORM_AZURE_MANAGED_DISKS_TIER_P50

config TERRAFORM_AZURE_DATA_VOLUME_DEVICE_FILE_NAME
	string "Device name for the /data file system"
	default "/dev/disk/azure/scsi1/lun0"
	help
	  This option sets the name of the block device on each target
	  node that is to be used for the /data file system.
