choice
	prompt "Azure vmsize"
	default TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	help
	  This option chooses the size of the virtual machine instances
	  to be created for the kdevops target nodes.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	bool "Standard_DS1_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has one vCPU and 3.5GB of memory.
	  Azure documentation notes that this size is part of a
	  previous generation series, and is to become unavailable
	  after May 1, 2028.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	bool "Standard_DS3_v2"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 14GB of memory.
	  Azure documentation notes that this size is part of a
	  previous generation series, and is to become unavailable
	  after May 1, 2028.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V3
	bool "Standard_D2s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V3
	bool "Standard_D4s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V3
	bool "Standard_D8s_v3"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V4
	bool "Standard_D2s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V4
	bool "Standard_D4s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V4
	bool "Standard_D8s_v4"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V6
	bool "Standard_D2s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has two vCPUs and 8GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V6
	bool "Standard_D4s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has four vCPUs and 16GB of memory.

config TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V6
	bool "Standard_D8s_v6"
	depends on TARGET_ARCH_X86_64
	help
	  This virtual machine size has eight vCPUs and 32GB of memory.

endchoice

config TERRAFORM_AZURE_VM_SIZE
	string
	output yaml
	default "Standard_DS1_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default "Standard_DS3_v2" if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	default "Standard_D2s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V3
	default "Standard_D4s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V3
	default "Standard_D8s_v3" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V3
	default "Standard_D2s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V4
	default "Standard_D4s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V4
	default "Standard_D8s_v4" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V4
	default "Standard_D2s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V6
	default "Standard_D4s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V6
	default "Standard_D8s_v6" if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V6

config TERRAFORM_AZURE_ACCELERATED_NETWORKING_ENABLED
	bool
	output yaml
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B1S
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B2S
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B4MS
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B8MS
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B12MS
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B16MS
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B20MS
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B2TS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B2LS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B2S_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B4LS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B4S_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B8LS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B8S_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B16LS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B16S_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B32LS_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_B32S_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS1_V2
	default n if TERRAFORM_AZURE_VM_SIZE_STANDARD_DS3_V2
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V3
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V3
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V3
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V4
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V4
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V4
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D2S_V6
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D4S_V6
	default y if TERRAFORM_AZURE_VM_SIZE_STANDARD_D8S_V6
