config TERRAFORM_AZURE_SUBSCRIPTION_ID
	string "Azure subscription ID"
	output yaml
	help
	  This option specifies the Azure subscription ID to use.
	  Retrieve your subscription ID by following these
	  instructions:

	  https://learn.microsoft.com/en-us/azure/azure-portal/get-subscription-tenant-id
