# Distributions actively maintaining btrfs support should select this and then
# be careful to select any of the other HAVE_DISTRO_BTRFS_* below so that
# testers can know what to test for.
config HAVE_DISTRO_EXT4_PREFERS_MANUAL
	bool
	default n

config FSTESTS_EXT4_MANUAL_COVERAGE
	bool "Enable manual coverage selection"
	default y if HAVE_DISTRO_EXT4_PREFERS_MANUAL
	default n if !HAVE_DISTRO_EXT4_PREFERS_MANUAL
	help
	  By default we aim to spawn enough hosts to cover testing the full
	  range of supported features upstream on the Linux kernel for ext4,
	  and for you to also be able to do development on each section
	  concurrently. Distributions however may override sensible defaults
	  and only support certain features. Enabling this option lets you
	  select and test only specific configurations.

	  By default we enables all tests, but certain distributions may
	  disable certain features and as such don't need to run certain
	  type of tests.

	  You can enable this to allow you to override the default test
	  coverage.

if FSTESTS_EXT4_MANUAL_COVERAGE

config FSTESTS_EXT4_SECTION_DEFAULTS
	bool "Enable testing section: ext4_defaults"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem.

config FSTESTS_EXT4_SECTION_1K
	bool "Enable testing section: ext4_1k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 1k block size.

config FSTESTS_EXT4_SECTION_2K
	bool "Enable testing section: ext4_2k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 1k block size.

config FSTESTS_EXT4_SECTION_4K
	bool "Enable testing section: ext4_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 1k block size.

config FSTESTS_EXT4_SECTION_BIGALLOC16K_4K
	bool "Enable testing section: ext4_bigalloc16k_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 4k block size using the bigalloc
	  feature for 16k cluster sizes.

config FSTESTS_EXT4_SECTION_BIGALLOC32K_4K
	bool "Enable testing section: ext4_bigalloc32k_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 4k block size using the bigalloc
	  feature for 32k cluster sizes.

config FSTESTS_EXT4_SECTION_BIGALLOC64K_4K
	bool "Enable testing section: ext4_bigalloc64k_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 4k block size using the bigalloc
	  feature for 64k cluster sizes.

config FSTESTS_EXT4_SECTION_BIGALLOC1024K_4K
	bool "Enable testing section: ext4_bigalloc1024k_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 4k block size using the bigalloc
	  feature for 1M cluster sizes.

config FSTESTS_EXT4_SECTION_BIGALLOC2048K_4K
	bool "Enable testing section: ext4_bigalloc2048k_4k"
	help
	  Enabling this will test ext4 with the default options for the mkfs.ext4
	  to create the filesystem but with 4k block size using the bigalloc
	  feature for 2M cluster sizes.

config FSTESTS_EXT4_SECTION_ADVANCED_FEATURES
	bool "Enable testing section: ext4_advanced_features"
	help
	  Enabling this will test ext4 with the advanced features enabled.
	  This enables a host which will use the following configuration:

	      [ext4_advanced_features]
	      MKFS_OPTIONS="-I 256 -O inline_data,metadata_csum,64bit"
	      FSTYP=ext4

endif # FSTESTS_EXT4_MANUAL_COVERAGE

if !FSTESTS_EXT4_MANUAL_COVERAGE

config FSTESTS_EXT4_SECTION_DEFAULTS
	bool
	default y

config FSTESTS_EXT4_SECTION_ADVANCED_FEATURES
	bool
	default y

endif # !FSTESTS_EXT4_MANUAL_COVERAGE
