if TERRAFORM_GCE_DISTRO_DEBIAN

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "debian-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64

config TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64
	bool "Debian-11 Bullseye (x86)"

config TERRAFORM_GCE_IMAGE_DEBIAN_12_X86_64
	bool "Debian-12 Bookworm (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "debian-11" if TERRAFORM_GCE_IMAGE_DEBIAN_11_X86_64
	default "debian-12" if TERRAFORM_GCE_IMAGE_DEBIAN_12_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64

config TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64
	bool "Debian-12 Bookworm (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "debian-12-arm64" if TERRAFORM_GCE_IMAGE_DEBIAN_12_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_DEBIAN
