if TERRAFORM_GCE_DISTRO_RHEL

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "rhel-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 20

choice
	prompt "License type"
	default TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL

config TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Pay as you go"

config TERRAFORM_GCE_LICENSE_TYPE_BYOS_RHEL
	bool "Bring your own subscription or license"

endchoice

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_RHEL_8_X86_64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 8 (x86)"

config TERRAFORM_GCE_IMAGE_RHEL_9_X86_64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 9 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rhel-8" if TERRAFORM_GCE_IMAGE_RHEL_8_X86_64_PAYGO
	default "rhel-9" if TERRAFORM_GCE_IMAGE_RHEL_9_X86_64_PAYGO

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "OS image to use"

config TERRAFORM_GCE_IMAGE_RHEL_9_ARM64_PAYGO
	depends on TERRAFORM_GCE_LICENSE_TYPE_PAYGO_RHEL
	bool "Red Hat Enterprise Linux 9 (arm64)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "rhel-9-arm64" if TERRAFORM_GCE_IMAGE_RHEL_9_ARM64_PAYGO

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_RHEL
