if TERRAFORM_GCE_DISTRO_OPENSUSE

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "opensuse-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "OS image to use"
	default TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64

config TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64
	bool "OpenLeap 15.5 (x86)"

config TERRAFORM_GCE_IMAGE_OPENLEAP_15_6_X86_64
	bool "OpenLeap 15.6 (x86)"

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "opensuse-leap-15-5" if TERRAFORM_GCE_IMAGE_OPENLEAP_15_5_X86_64
	default "opensuse-leap-15-6" if TERRAFORM_GCE_IMAGE_OPENLEAP_15_6_X86_64

endif # TARGET_ARCH_X86_64

endif # TERRAFORM_GCE_DISTRO_OPENSUSE
