if TERRAFORM_GCE_DISTRO_FEDORA

config TERRAFORM_GCE_IMAGE_PROJECT
	string
	output yaml
	default "fedora-coreos-cloud"

config TERRAFORM_GCE_IMAGE_SIZE
	int
	output yaml
	default 10

if TARGET_ARCH_X86_64

choice
	prompt "Fedora stream to use"
	default TERRAFORM_GCE_IMAGE_FEDORA_STABLE_X86_64

config TERRAFORM_GCE_IMAGE_FEDORA_STABLE_X86_64
	bool "stable (x86)"
	help
	  The stable stream is the most reliable stream offered with
	  changes only reaching that stream after spending a period
	  of time in the testing stream.

config TERRAFORM_GCE_IMAGE_FEDORA_TESTING_X86_64
	bool "testing (x86)"
	help
	  The testing stream represents what is coming in the next
	  stable release. Content in this stream is updated
	  regularly and offers our community an opportunity to catch
	  breaking changes before they hit the stable stream.

config TERRAFORM_GCE_IMAGE_FEDORA_NEXT_X86_64
	bool "next (x86)"
	help
	  The next stream represents the future. It will often be
	  used to experiment with new features and also test out
	  rebases of our platform on top of the next major version
	  of Fedora. The content in the next stream will also
	  eventually filter down into testing and on to stable.

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "fedora-coreos-stable" if TERRAFORM_GCE_IMAGE_FEDORA_STABLE_X86_64
	default "fedora-coreos-testing" if TERRAFORM_GCE_IMAGE_FEDORA_TESTING_X86_64
	default "fedora-coreos-next" if TERRAFORM_GCE_IMAGE_FEDORA_NEXT_X86_64

endif # TARGET_ARCH_X86_64

if TARGET_ARCH_ARM64

choice
	prompt "Fedora stream to use"
	default TERRAFORM_GCE_IMAGE_FEDORA_STABLE_ARM64

config TERRAFORM_GCE_IMAGE_FEDORA_STABLE_ARM64
	bool "stable (arm64)"
	help
	  The stable stream is the most reliable stream offered with
	  changes only reaching that stream after spending a period
	  of time in the testing stream.

config TERRAFORM_GCE_IMAGE_FEDORA_TESTING_ARM64
	bool "testing (arm64)"
	help
	  The testing stream represents what is coming in the next
	  stable release. Content in this stream is updated
	  regularly and offers our community an opportunity to catch
	  breaking changes before they hit the stable stream.

config TERRAFORM_GCE_IMAGE_FEDORA_NEXT_ARM64
	bool "next (arm64)"
	help
	  The next stream represents the future. It will often be
	  used to experiment with new features and also test out
	  rebases of our platform on top of the next major version
	  of Fedora. The content in the next stream will also
	  eventually filter down into testing and on to stable.

endchoice

config TERRAFORM_GCE_IMAGE_FAMILY
	string
	output yaml
	default "fedora-coreos-stable-arm64" if TERRAFORM_GCE_IMAGE_FEDORA_STABLE_ARM64
	default "fedora-coreos-testing-arm64" if TERRAFORM_GCE_IMAGE_FEDORA_TESTING_ARM64
	default "fedora-coreos-next-arm64" if TERRAFORM_GCE_IMAGE_FEDORA_NEXT_ARM64

endif # TARGET_ARCH_ARM64

endif # TERRAFORM_GCE_DISTRO_FEDORA
