if BOOTLINUX_TREE_KDEVOPS_LINUS

source "workflows/linux/refs/default/Kconfig.kdevops-linus"
source "workflows/linux/refs/user/Kconfig.kdevops-linus"

config BOOTLINUX_TREE_KDEVOPS_URL
	string
	default "https://github.com/linux-kdevops/linux.git" if !USE_LOCAL_LINUX_MIRROR
	default "/mirror/kdevops-linus.git" if USE_LIBVIRT_MIRROR && BOOTLINUX_9P

config BOOTLINUX_TREE_KDEVOPS_NAME
	string
	default "kdevops-linus"

endif # BOOTLINUX_TREE_KDEVOPS_LINUS
