if BOOTLINUX_TREE_CEL_LINUX

source "workflows/linux/refs/default/Kconfig.cel-linux"
source "workflows/linux/refs/user/Kconfig.cel-linux"

config BOOTLINUX_TREE_CEL_LINUX_CUSTOM_NAME
	string "Custom branch name"
	default "custom"
	depends on BOOTLINUX_TREE_CEL_LINUX_REF_CUSTOM
	help
	  Custom branch name to use for Chuck Lever's linux tree.

config BOOTLINUX_TREE_CEL_LINUX_NAME
	string
	default "cel-linux"

config BOOTLINUX_TREE_CEL_LINUX_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/cel/linux.git" if BOOTLINUX_TREE_CEL_LINUX

endif # BOOTLINUX_TREE_CEL_LINUX
