if BOOTLINUX_TREE_MCGROF_LINUS

source "workflows/linux/refs/default/Kconfig.mcgrof-linus"
source "workflows/linux/refs/user/Kconfig.mcgrof-linus"

endif # BOOTLINUX_TREE_MCGROF_LINUS

if BOOTLINUX_TREE_MCGROF_NEXT

source "workflows/linux/refs/default/Kconfig.mcgrof-next"
source "workflows/linux/refs/user/Kconfig.mcgrof-next"

endif # BOOTLINUX_TREE_MCGROF_NEXT

if BOOTLINUX_TREE_MCGROF_LINUS || BOOTLINUX_TREE_MCGROF_NEXT

config BOOTLINUX_TREE_MCGROF
	bool
	default y

config BOOTLINUX_TREE_MCGROF_NAME
	string
	default "mcgrof-linus" if BOOTLINUX_TREE_MCGROF_LINUS
	default "mcgrof-next" if BOOTLINUX_TREE_MCGROF_NEXT

config BOOTLINUX_TREE_MCGROF_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux-next.git" if BOOTLINUX_TREE_MCGROF_NEXT && !USE_LOCAL_LINUX_MIRROR
	default "/mirror/mcgrof-next.git" if BOOTLINUX_TREE_MCGROF_NEXT && USE_LIBVIRT_MIRROR && BOOTLINUX_9P
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux.git" if BOOTLINUX_TREE_MCGROF_LINUS && !USE_LOCAL_LINUX_MIRROR
	default "/mirror/mcgrof-linus.git" if BOOTLINUX_TREE_MCGROF_LINUS && USE_LIBVIRT_MIRROR && BOOTLINUX_9P
	default $(shell, scripts/append-makefile-vars.sh git:// $(KDEVOPS_DEFAULT_BRIDGE_IP_VAGRANT) /mirror/mcgrof-linus.git) if BOOTLINUX_TREE_MCGROF_LINUS && USE_LIBVIRT_MIRROR && !BOOTLINUX_9P && VAGRANT
	default $(shell, scripts/append-makefile-vars.sh git:// $(KDEVOPS_DEFAULT_BRIDGE_IP_GUESTFS) /mirror/mcgrof-next.git) if BOOTLINUX_TREE_MCGROF_NEXT && USE_LIBVIRT_MIRROR && !BOOTLINUX_9P && GUESTFS

endif # BOOTLINUX_TREE_MCGROF_LINUS || BOOTLINUX_TREE_MCGROF_NEXT
