{#- SPDX-License-Identifier: copyleft-next-0.3.1                           -#}
{#- NVMe device macros, included by vm.env.j2.                             -#}
{#- Each macro produces one QEMU argument (no trailing \ or whitespace).   -#}
{#- See: qemu-system-x86_64 -device nvme,help                             -#}
{#- See: qemu-system-x86_64 -device nvme-ns,help                          -#}
{#- See: qemu-system-x86_64 -device nvme-subsys,help                      -#}
{#- -drive backend arguments for an NVMe image file. -#}
{% macro nvme_drive(d) -%}
file={{ d.file }},if=none,format={{ d.format | default('qcow2') }}
{%- if d.aio is defined %},aio={{ d.aio }}{% endif -%}
{%- if d.cache is defined %},cache={{ d.cache }}{% endif -%}
{%- if d.discard is defined %},discard={{ d.discard }}{% endif -%}
{%- if d['detect-zeroes'] is defined %},detect-zeroes={{ d['detect-zeroes'] }}{% endif -%}
{% endmacro -%}

{#- -device nvme controller arguments.                                     -#}
{#- In simple mode (drive= attached): also gets BlockConf properties.      -#}
{#- In explicit mode (namespaces): no drive=, gets id= instead.            -#}
{% macro nvme_ctrl(d, idx) -%}
nvme,serial={{ d.serial | default('nvme' ~ idx) }}
{%- if d.namespaces is not defined %},drive=nvme-drive-{{ idx }}{% endif -%}
{%- if d.namespaces is defined %},id=nvme{{ idx }}{% endif -%}
{%- if d.max_ioqpairs is defined %},max_ioqpairs={{ d.max_ioqpairs }}{% endif -%}
{%- if d.msix_qsize is defined %},msix_qsize={{ d.msix_qsize }}{% endif -%}
{%- if d.mdts is defined %},mdts={{ d.mdts }}{% endif -%}
{%- if d.vsl is defined %},vsl={{ d.vsl }}{% endif -%}
{%- if d.cmb_size_mb is defined %},cmb_size_mb={{ d.cmb_size_mb }}{% endif -%}
{%- if d['legacy-cmb'] | default(false) %},legacy-cmb=on{% endif -%}
{%- if d.ioeventfd | default(false) %},ioeventfd=on{% endif -%}
{%- if d.dbcs is defined %},dbcs={{ d.dbcs }}{% endif -%}
{%- if d.ocp | default(false) %},ocp=on{% endif -%}
{%- if d['use-intel-id'] | default(false) %},use-intel-id=on{% endif -%}
{%- if d.aerl is defined %},aerl={{ d.aerl }}{% endif -%}
{%- if d.aer_max_queued is defined %},aer_max_queued={{ d.aer_max_queued }}{% endif -%}
{%- if d.mqes is defined %},mqes={{ d.mqes }}{% endif -%}
{%- if d['zoned.zasl'] is defined %},zoned.zasl={{ d['zoned.zasl'] }}{% endif -%}
{%- if d['zoned.auto_transition'] is defined %},zoned.auto_transition={{ d['zoned.auto_transition'] }}{% endif -%}
{%- if d['ctratt.mem'] | default(false) %},ctratt.mem=on{% endif -%}
{%- if d['atomic.dn'] | default(false) %},atomic.dn=on{% endif -%}
{%- if d['atomic.awun'] is defined %},atomic.awun={{ d['atomic.awun'] }}{% endif -%}
{%- if d['atomic.awupf'] is defined %},atomic.awupf={{ d['atomic.awupf'] }}{% endif -%}
{#- BlockConf (simple form only, implicit namespace inherits these) -#}
{%- if d.namespaces is not defined -%}
{%- if d.logical_block_size is defined %},logical_block_size={{ d.logical_block_size }}{% endif -%}
{%- if d.physical_block_size is defined %},physical_block_size={{ d.physical_block_size }}{% endif -%}
{%- if d.min_io_size is defined %},min_io_size={{ d.min_io_size }}{% endif -%}
{%- if d.opt_io_size is defined %},opt_io_size={{ d.opt_io_size }}{% endif -%}
{%- if d.discard_granularity is defined %},discard_granularity={{ d.discard_granularity }}{% endif -%}
{%- if d['write-cache'] is defined %},write-cache={{ d['write-cache'] }}{% endif -%}
{%- if d['share-rw'] | default(false) %},share-rw=on{% endif -%}
{%- endif -%}
{%- if d.opts is defined %},{{ d.opts }}{% endif -%}
{% endmacro -%}

{#- -device nvme-ns namespace arguments.                                   -#}
{#- Full NVMe namespace properties: ZNS, metadata, PI, atomics, etc.       -#}
{% macro nvme_ns(ns, ctrl_id, ns_idx) -%}
nvme-ns,drive={{ ctrl_id }}-ns{{ ns_idx }},bus={{ ctrl_id }}
{%- if ns.logical_block_size is defined %},logical_block_size={{ ns.logical_block_size }}{% endif -%}
{%- if ns.physical_block_size is defined %},physical_block_size={{ ns.physical_block_size }}{% endif -%}
{%- if ns.min_io_size is defined %},min_io_size={{ ns.min_io_size }}{% endif -%}
{%- if ns.opt_io_size is defined %},opt_io_size={{ ns.opt_io_size }}{% endif -%}
{%- if ns.discard_granularity is defined %},discard_granularity={{ ns.discard_granularity }}{% endif -%}
{%- if ns['write-cache'] is defined %},write-cache={{ ns['write-cache'] }}{% endif -%}
{%- if ns['share-rw'] | default(false) %},share-rw=on{% endif -%}
{%- if ns.nsid is defined %},nsid={{ ns.nsid }}{% endif -%}
{%- if ns.uuid is defined %},uuid={{ ns.uuid }}{% endif -%}
{%- if ns.eui64 is defined %},eui64={{ ns.eui64 }}{% endif -%}
{%- if ns.shared | default(false) %},shared=on{% endif -%}
{%- if ns.detached | default(false) %},detached=on{% endif -%}
{%- if ns.zoned | default(false) %},zoned=on
{%- if ns['zoned.zone_size'] is defined %},zoned.zone_size={{ ns['zoned.zone_size'] }}{% endif -%}
{%- if ns['zoned.zone_capacity'] is defined %},zoned.zone_capacity={{ ns['zoned.zone_capacity'] }}{% endif -%}
{%- if ns['zoned.max_active'] is defined %},zoned.max_active={{ ns['zoned.max_active'] }}{% endif -%}
{%- if ns['zoned.max_open'] is defined %},zoned.max_open={{ ns['zoned.max_open'] }}{% endif -%}
{%- if ns['zoned.cross_read'] | default(false) %},zoned.cross_read=on{% endif -%}
{%- if ns['zoned.descr_ext_size'] is defined %},zoned.descr_ext_size={{ ns['zoned.descr_ext_size'] }}{% endif -%}
{%- if ns['zoned.numzrwa'] is defined %},zoned.numzrwa={{ ns['zoned.numzrwa'] }}{% endif -%}
{%- if ns['zoned.zrwas'] is defined %},zoned.zrwas={{ ns['zoned.zrwas'] }}{% endif -%}
{%- if ns['zoned.zrwafg'] is defined %},zoned.zrwafg={{ ns['zoned.zrwafg'] }}{% endif -%}
{% endif -%}
{%- if ns.ms is defined %},ms={{ ns.ms }}{% endif -%}
{%- if ns.mset is defined %},mset={{ ns.mset }}{% endif -%}
{%- if ns.pi is defined %},pi={{ ns.pi }}{% endif -%}
{%- if ns.pil is defined %},pil={{ ns.pil }}{% endif -%}
{%- if ns.pif is defined %},pif={{ ns.pif }}{% endif -%}
{%- if ns.mssrl is defined %},mssrl={{ ns.mssrl }}{% endif -%}
{%- if ns.mcl is defined %},mcl={{ ns.mcl }}{% endif -%}
{%- if ns.msrc is defined %},msrc={{ ns.msrc }}{% endif -%}
{%- if ns['fdp.ruhs'] is defined %},fdp.ruhs={{ ns['fdp.ruhs'] }}{% endif -%}
{%- if ns['atomic.nawun'] is defined %},atomic.nawun={{ ns['atomic.nawun'] }}{% endif -%}
{%- if ns['atomic.nawupf'] is defined %},atomic.nawupf={{ ns['atomic.nawupf'] }}{% endif -%}
{%- if ns['atomic.nabsn'] is defined %},atomic.nabsn={{ ns['atomic.nabsn'] }}{% endif -%}
{%- if ns['atomic.nabspf'] is defined %},atomic.nabspf={{ ns['atomic.nabspf'] }}{% endif -%}
{%- if ns['atomic.nabo'] is defined %},atomic.nabo={{ ns['atomic.nabo'] }}{% endif -%}
{%- if ns.opts is defined %},{{ ns.opts }}{% endif -%}
{% endmacro -%}

{#- -device nvme-subsys subsystem arguments. -#}
{% macro nvme_subsys(s, idx) -%}
nvme-subsys,id=nvme-subsys-{{ idx }}
{%- if s.nqn is defined %},nqn={{ s.nqn }}{% endif -%}
{%- if s.fdp | default(false) %},fdp=on
{%- if s['fdp.nrg'] is defined %},fdp.nrg={{ s['fdp.nrg'] }}{% endif -%}
{%- if s['fdp.nruh'] is defined %},fdp.nruh={{ s['fdp.nruh'] }}{% endif -%}
{%- if s['fdp.runs'] is defined %},fdp.runs={{ s['fdp.runs'] }}{% endif -%}
{% endif -%}
{% endmacro -%}

{#- -device nvme controller in subsystem mode (with subsys= link). -#}
{% macro nvme_subsys_ctrl(ctrl, subsys_id, idx) -%}
nvme,id={{ subsys_id }}-ctrl{{ idx }},serial={{ ctrl.serial | default(subsys_id ~ '-ctrl' ~ idx) }},subsys={{ subsys_id }}
{%- if ctrl.max_ioqpairs is defined %},max_ioqpairs={{ ctrl.max_ioqpairs }}{% endif -%}
{%- if ctrl.msix_qsize is defined %},msix_qsize={{ ctrl.msix_qsize }}{% endif -%}
{%- if ctrl.mdts is defined %},mdts={{ ctrl.mdts }}{% endif -%}
{%- if ctrl.vsl is defined %},vsl={{ ctrl.vsl }}{% endif -%}
{%- if ctrl.cmb_size_mb is defined %},cmb_size_mb={{ ctrl.cmb_size_mb }}{% endif -%}
{%- if ctrl.ioeventfd | default(false) %},ioeventfd=on{% endif -%}
{%- if ctrl.ocp | default(false) %},ocp=on{% endif -%}
{%- if ctrl['zoned.zasl'] is defined %},zoned.zasl={{ ctrl['zoned.zasl'] }}{% endif -%}
{%- if ctrl['zoned.auto_transition'] is defined %},zoned.auto_transition={{ ctrl['zoned.auto_transition'] }}{% endif -%}
{%- if ctrl['atomic.dn'] | default(false) %},atomic.dn=on{% endif -%}
{%- if ctrl['atomic.awun'] is defined %},atomic.awun={{ ctrl['atomic.awun'] }}{% endif -%}
{%- if ctrl['atomic.awupf'] is defined %},atomic.awupf={{ ctrl['atomic.awupf'] }}{% endif -%}
{%- if ctrl.opts is defined %},{{ ctrl.opts }}{% endif -%}
{% endmacro -%}
