# SPDX-License-Identifier: copyleft-next-0.3.1
# virtiofsd environment for {{ vm_name }}-{{ share_tag }}
# Rendered from: templates/virtiofsd.env.j2 --define share_tag={{ share_tag }}
{% for s in shares if s.tag == share_tag %}
VIRTIOFSD_SHARED_DIR={{ s.dir }}
{% if s.translate_uid is defined %}
VIRTIOFSD_EXTRA_OPTS=--translate-uid {{ s.translate_uid }} --translate-gid {{ s.translate_gid | default(s.translate_uid) }}
{% endif %}
{% endfor %}
