---
- name: Install Git mirrors using systemd.timer
  hosts: localhost
  roles:
    - role: linux-mirror
    - role: nix-cache-mirror
      when: install_nix_cache_mirror | default(false) | bool
    - role: docker-mirror
