# Please keep in alphabetical order

config DEFAULT_BLKTESTS_URL
	string
	default "https://github.com/osandov/blktests.git"

config DEFAULT_BLKTRACE_URL
	string
	default "https://git.kernel.dk/blktrace"

config DEFAULT_DATE_ISO8601
	string
	default $(shell, date -I)

config DEFAULT_DBENCH_URL
	string
	default "https://github.com/linux-kdevops/dbench.git"

config DEFAULT_FSTESTS_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/fs/xfs/xfstests-dev.git"

config DEFAULT_FSTESTS_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/fs/xfs/xfstests-dev.git"

config DEFAULT_FSTESTS_GOOGLE_HTTPS_URL
	string
	default "https://kernel.googlesource.com/pub/scm/fs/xfs/xfstests-dev.git"

config DEFAULT_FSTESTS_KDEVOPS_GITHUB_HTTPS_URL
	string
	default "https://github.com/linux-kdevops/fstests.git"

config DEFAULT_FSTESTS_KDEVOPS_GITLAB_HTTPS_URL
	string
	default "https://gitlab.com/linux-kdevops/fstests.git"

config DEFAULT_GIT_URL
	string
	default "https://git.kernel.org/pub/scm/git/git.git"

config DEFAULT_KDEVOPS_GITHUB_HTTPS_URL
	string
	default "https://github.com/linux-kdevops/kdevops.git"

config DEFAULT_KDEVOPS_GITLAB_HTTPS_URL
	string
	default "https://gitlab.com/linux-kdevops/kdevops.git"

config DEFAULT_KDEVOPS_LINUX_HTTPS_URL
	string
	default "https://github.com/linux-kdevops/linux.git"

config DEFAULT_QEMU_GITHUB_HTTPS_URL
	string
	default "https://github.com/qemu/qemu.git"

config DEFAULT_QEMU_GITHUB_SSH_URL
	string
	default "ssh://git@github.com:qemu/qemu.git"

config DEFAULT_QEMU_GITLAB_HTTPS_URL
	string
	default "https://gitlab.com/qemu-project/qemu.git"

config DEFAULT_QEMU_GITLAB_SSH_URL
	string
	default "ssh://git@gitlab.com:qemu-project/qemu.git"

config DEFAULT_QEMU_JIC23_GITHUB_HTTPS_URL
	string
	default "https://github.com/jic23/qemu.git"

config DEFAULT_QEMU_JIC23_GITHUB_SSH_URL
	string
	default "ssh://git@github.com:jic23/qemu.git"

config DEFAULT_QEMU_JIC23_GITLAB_HTTPS_URL
	string
	default "https://gitlab.com/jic23/qemu.git"

config DEFAULT_QEMU_JIC23_GITLAB_SSH_URL
	string
	default "ssh://git@gitlab.com:jic23/qemu.git"

config DEFAULT_LINUX_NEXT_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git"

config DEFAULT_LINUX_NEXT_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git"

config DEFAULT_LINUX_NEXT_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/next/linux-next.git"

config DEFAULT_LTP_URL
	string
	default "https://github.com/linux-test-project/ltp.git"

config DEFAULT_MODULES_GIT
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/modules/linux.git"

config DEFAULT_MODULES_HTTPS_GIT
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/modules/linux.git"

config DEFAULT_MODULES_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/modules/linux.git"

config DEFAULT_MCGROF_LINUS_GIT_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux-next.git"

config DEFAULT_MCGROF_LINUS_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux.git"

config DEFAULT_MCGROF_LINUS_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/mcgrof/linux.git"

config DEFAULT_MCGROF_NEXT_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux-next.git"

config DEFAULT_MCGROF_NEXT_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/mcgrof/linux-next.git"

config DEFAULT_MCGROF_NEXT_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/mcgrof/linux-next.git"

config DEFAULT_NFSTEST_URL
	string
	default "git://git.linux-nfs.org/projects/mora/nfstest.git"

config DEFAULT_TORVALDS_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git"

config DEFAULT_TORVALDS_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git"

config DEFAULT_TORVALDS_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/torvalds/linux.git"

config DEFAULT_STABLE_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"

config DEFAULT_STABLE_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"

config DEFAULT_STABLE_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux.git"

config DEFAULT_VFS_GIT_URL
	string
	default "git://git.kernel.org/pub/scm/linux/kernel/git/vfs/vfs.git"

config DEFAULT_VFS_HTTPS_URL
	string
	default "https://git.kernel.org/pub/scm/linux/kernel/git/vfs/vfs.git"

config DEFAULT_VFS_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/linux/kernel/git/vfs/vfs.git"

config DEFAULT_XFS_GIT
	string
	default "git://git.kernel.org/pub/scm/fs/xfs/xfs-linux.git/"

config DEFAULT_XFS_HTTPS_GIT
	string
	default "https://git.kernel.org/pub/scm/fs/xfs/xfs-linux.git/"

config DEFAULT_XFS_HTTPS_GOOGLE_URL
	string
	default "https://kernel.googlesource.com/pub/scm/fs/xfs/xfs-linux.git/"

config DEFAULT_XFSDUMP_URL
	string
	default "https://github.com/linux-kdevops/xfsdump-dev.git"

config DEFAULT_XFSPROGS_URL
	string
	default "https://git.kernel.org/pub/scm/fs/xfs/xfsprogs-dev.git"
