# FIXME: need defaults for terraform hosts
config KDEVOPS_SETUP_SMBD
	bool "Set up the Samba SMB server"
	depends on KDEVOPS_WORKFLOW_ENABLE_FSTESTS
	default n
	help
	  Configure and bring up the Samba SMB server. This will provision
	  a filesystem on a block device, mount it, share it and start up the
	  smb server and associated daemons.

if KDEVOPS_SETUP_SMBD

menu "Configure the Samba SMB server"

choice
	prompt "Type of filesystem to share"
	default SMBD_SHARE_FSTYPE_BTRFS

config SMBD_SHARE_FSTYPE_BTRFS
	bool "btrfs"

config SMBD_SHARE_FSTYPE_XFS
	bool "xfs"

config SMBD_SHARE_FSTYPE_EXT4
	bool "ext4"

config SMBD_SHARE_FSTYPE_TMPFS
	bool "tmpfs"

endchoice

config SMBD_SHARE_FSTYPE
	string
	default "btrfs" if SMBD_SHARE_FSTYPE_BTRFS
	default "xfs" if SMBD_SHARE_FSTYPE_XFS
	default "ext4" if SMBD_SHARE_FSTYPE_EXT4
	default "tmpfs" if SMBD_SHARE_FSTYPE_TMPFS

config SMBD_SHARE_PATH
	string "The path under which to mount the devices to be shared."
	default "/share"
	help
	  This is the path that will be shared from the smbd server. The
	  share devices are mounted here under numbered directories starting
	  with 0.

config SMB_ROOT_PW
        string "SMB root password"
        default "kdevops"
        help
          SMB password to use for the root user.

endmenu

endif
