config KDEVOPS_SSH_CONFIG_UPDATE
	bool "Update your SSH configuration for you?"
	default y
	depends on !SKIP_BRINGUP
	help
	  If enabled, your SSH configuration file will be updated for you based
	  on the results obtained from the bring up. This is useful in case
	  it is not clear what the IP address of the hosts just created are.

	  This is enabled by default, as this is the promise by kdevops, to be
	  easy to use with sensible but careful deafults. If you are concerned
	  for mistakes know that we do a backup of your SSH configuration for
	  you just in case.

	  You are encourated to leave this enabled, uness you really don't trust
	  this code.

if KDEVOPS_SSH_CONFIG_UPDATE

config KDEVOPS_SSH_CONFIG
	string "The controller's ssh configuration file"
	default "~/.ssh/config"
	help
	  The pathname of the Ansible controller's ssh configuration file.
	  kdevops may add an Include directive to this file that refers to a
	  separate file where target node ssh configuration is managed.

config KDEVOPS_SSH_CONFIG_PREFIX
	string "Pathname prefix to an Ansible-managed ssh config file"
	output yaml
	default "~/.ssh/config_kdevops_"
	help
	  The pathname of a file into which Ansible inserts ssh configuration
	  information for the target nodes during the "make bringup" step. On
	  "make destroy" this file is destroyed.

	  This file is kept in the controller's .ssh directory by default,
	  but can be moved to other locations if desired.

config KDEVOPS_SSH_CONFIG_UPDATE_STRICT
	bool "Use strict configuration settings when adding each host"
	default y
	help
	  If enabled when we update your ssh host we will add the following
	  few more lines to each entry:

	     UserKnownHostsFile /dev/null
	     StrictHostKeyChecking no
	     PasswordAuthentication no
	     IdentitiesOnly yes
	     LogLevel FATAL

	  You are encouraged to use this. Vagrant does this, and so you can't
	  disable this if you are using Vagrant.

config KDEVOPS_SSH_CONFIG_UPDATE_BACKUP
	bool "Create a backup when updating your SSH config file"
	default y
	help
	  This will create a backup of your SSH configuration file prior to
	  doing the update for you. The filename for the backup will be:

	    ~/.ssh/config.backup.kdevops.$method

	  where $method is either Vagrant or terraform.

endif # KDEVOPS_SSH_CONFIG_UPDATE
