config DISTRO_DEBIAN
	bool
	default $(shell, scripts/os-release-check.sh debian)

if DISTRO_DEBIAN

config DISTRO_DEBIAN_BUSTER
	bool
	default $(shell, scripts/os-debian-version.sh buster)

config DISTRO_DEBIAN_TRIXIE
	bool
	default $(shell, scripts/os-debian-version.sh trixie)

endif

config DISTRO_FEDORA
	bool
	default $(shell, scripts/os-release-check.sh fedora)

config DISTRO_OPENSUSE
	bool
	default $(shell, scripts/os-release-check.sh opensuse)

config DISTRO_REDHAT
	bool
	default $(shell, scripts/os-release-check.sh redhat)

config DISTRO_SUSE
	bool
	default $(shell, scripts/os-release-check.sh suse)

config DISTRO_UBUNTU
	bool
	default $(shell, scripts/os-release-check.sh ubuntu)
