# FIXME: need defaults for terraform hosts
menuconfig KDEVOPS_ENABLE_ISCSI
	bool "Set up an iSCSI target host"
	depends on KDEVOPS_WORKFLOW_ENABLE_FSTESTS || \
			   KDEVOPS_WORKFLOW_ENABLE_PYNFS || \
			   KDEVOPS_WORKFLOW_ENABLE_NFSTEST || \
			   KDEVOPS_WORKFLOW_ENABLE_GITR
	default n
	help
	  Provision an additional target node as an iSCSI target.

	  If you do not know what this means, say N.

if KDEVOPS_ENABLE_ISCSI

config ISCSI_TARGET_WWN
	string "iSCSI target WWN"
	default "iqn.2024-04.local.kdevops.nfsd:sn.34d73f601a65"
	help
	  This option specifies the World Wide Name (WWN) to be used
	  when creating the iSCSI target on the NFS server.

	  If you do not know what this means, the default is safe
	  to use.

endif
